In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Change directory to the directory of current python script. 
#via URL => https://stackoverflow.com/questions/1432924/python-change-the-scripts-working-directory-to-the-scripts-own-directory
#via URL => https://www.geeksforgeeks.org/python-os-path-abspath-method-with-example/

file_name = "CountryFocused_DF_csv.ipynb"
abs_path = os.path.abspath(file_name)        #(__file__)
print(abs_path)
dir_name = os.path.dirname(abs_path)
print(dir_name)
print("-----")
os.chdir(dir_name)

c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview\CountryFocused_DF_csv.ipynb
c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview
-----

In [3]:
#Confirm VAR for location of Resources Folder.
target_directory_file1 = "Resources/Country_LatLong/"
source1_file_name = "world_country_and_usa_states_latitude_and_longitude_values.csv"

Pandas_read_file1 = target_directory_file1 + source1_file_name

In [7]:
#Confirm VAR for location of Resources Folder.
target_directory_file2 = "Outputs/"
source2_file_name = "Filtered_Clean_DataAnalysis_NaturalDisasters_1970-2021.csv"

Pandas_read_file2 = target_directory_file2 + source2_file_name

In [5]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Country_lat_long_df = pd.read_csv(Pandas_read_file1) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Country_lat_long_df.head()

  country_code   latitude  longitude         country
0           CZ  49.817492  15.472962  Czech Republic
1           DE  51.165691  10.451526         Germany
2           DJ  11.825138  42.590275        Djibouti
3           DK  56.263920   9.501785         Denmark
4           DM  15.414999 -61.370976        Dominica

In [8]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Filtered_Complete_DataAnalysis_df = pd.read_csv(Pandas_read_file2) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Filtered_Complete_DataAnalysis_df.head()

,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,...,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months
0,0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,...,1,4,Date_Complete,1970,1,4,1970-01-04,1970-01-04,0 days,0.0
1,3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,...,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12,0 days,0.0
2,4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,...,4,13,Date_Complete,1970,4,13,1970-04-13,1970-04-13,0 days,0.0
3,6,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,...,10,23,Date_Complete,1970,10,23,1970-10-23,1970-10-23,0 days,0.0
4,8,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,...,7,21,Date_Complete,1970,7,21,1970-07-21,1970-07-21,0 days,0.0

In [9]:
Filtered_Complete_DataAnalysis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11469 entries, 0 to 11468
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Index                              11469 non-null  int64
 1   Total Damages ('000 US$)           4265 non-null   float64
 2   Total Deaths                       8501 non-null   float64
 3   Dis No                             11469 non-null  object
 4   Disaster Group                     11469 non-null  object
 5   Disaster Subgroup                  11469 non-null  object
 6   Disaster Type                      11469 non-null  object
 7   Disaster Subtype                   9465 non-null   object
 8   Disaster Subsubtype                966 non-null    object
 9   Country                            11469 non-null  object
 10  Region                             11469 non-null  object
 11  Location                           10763 non-null  object
 12  Continent                          11469 non-null  object
 13  Start_Date_Complete_Y_N            11469 non-null  object
 14  Start Year                         11469 non-null  int64
 15  Start Month                        11469 non-null  int64
 16  Start Day                          11469 non-null  int64
 17  End_Date_Complete_Y_N              11469 non-null  object
 18  End Year                           11469 non-null  int64
 19  End Month                          11469 non-null  int64
 20  End Day                            11469 non-null  int64
 21  Start Date                         11468 non-null  object
 22  End Date                           11465 non-null  object
 23  Start to End Date_Duration Days    11465 non-null  object
 24  Start to End Date_Duration Months  11465 non-null  float64
dtypes: float64(3), int64(7), object(15)
memory usage: 2.2+ MB

In [15]:
#via URL => https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers


List_of_Analysis2_Columns = Filtered_Complete_DataAnalysis_df.columns.values.tolist()

List_of_Analysis2_Columns

['Index',
 "Total Damages ('000 US$)",
 'Total Deaths',
 'Dis No',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'Disaster Subsubtype',
 'Country',
 'Region',
 'Location',
 'Continent',
 'Start_Date_Complete_Y_N',
 'Start Year',
 'Start Month',
 'Start Day',
 'End_Date_Complete_Y_N',
 'End Year',
 'End Month',
 'End Day',
 'Start Date',
 'End Date',
 'Start to End Date_Duration Days',
 'Start to End Date_Duration Months']

In [16]:
#Create unique list of Filtered Data to enable comparatives via str.lower()

#Disaster_groups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[3]].unique().tolist())
#Disaster_subgroups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[4]].unique().tolist())
#Disaster_types = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[5]].unique().tolist())
#Disaster_Subtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[6]].unique().tolist())
#Disaster_Subsubtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[7]].unique().tolist())
Disaster_countries = pd.Series(Filtered_Complete_DataAnalysis_df[List_of_Analysis2_Columns[9]].unique().tolist())
#Disaster_region = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[9]].unique().tolist())
#Diasaster_contenent = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[11]].unique().tolist())
#Disaster_location = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[10]].unique().tolist())

Disaster_countries

0                       Argentina
1                      Bangladesh
2                          Brazil
3                        Barbados
4                          Canada
                  ...
221                         Qatar
222              Saint Barthélemy
223    Saint Martin (French Part)
224     Sint Maarten (Dutch part)
225                   Isle of Man
Length: 226, dtype: object

In [18]:
List_of_Analysis1_Columns = Country_lat_long_df.columns.values.tolist()

List_of_Analysis1_Columns

['country_code', 'latitude', 'longitude', 'country']

In [19]:
#Create series for Lat Long Countries... #Country_lat_long_df

Lat_long_Countries = pd.Series(Country_lat_long_df[List_of_Analysis1_Columns[3]].unique().tolist())

Lat_long_Countries

0      Czech Republic
1             Germany
2            Djibouti
3             Denmark
4            Dominica
            ...
189           Mayotte
190      South Africa
191            Zambia
192          Zimbabwe
193            Canada
Length: 194, dtype: object

In [26]:
#compare countries using lower() to "fuzzy" assess matches.

Matched_Countries = [i for x in Lat_long_Countries for i in Disaster_countries if i.lower() == x.lower()]

Matched_Countries = pd.Series(Matched_Countries) #.astype("string")

Matched_Countries

0           Germany
1          Djibouti
2           Denmark
3          Dominica
4           Algeria
           ...
130           Yemen
131    South Africa
132          Zambia
133        Zimbabwe
134          Canada
Length: 135, dtype: object

In [29]:
#merge by country name. Above confirmed 135 merges will be taking place ... I'll drop na from the merge column ... 

Merged_filtered_wLatLong_df = Country_lat_long_df.merge(Filtered_Complete_DataAnalysis_df.assign(in_index="Found_in_Disasters"),
                                                                      left_on=List_of_Analysis1_Columns[3], right_on=List_of_Analysis2_Columns[9], how='right').fillna({'in_index':'Lost_Filtered_Data'})

Merged_filtered_wLatLong_df.tail(15)

,country_code,latitude,longitude,country,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,...,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months,in_index
11454,NaN,NaN,NaN,NaN,14628,NaN,NaN,2021-0357-USA,Natural,Climatological,...,6,Date_Complete,2021,7,4,2021-06-06,2021-07-04,28 days,0.919937,Found_in_Disasters
11455,NaN,NaN,NaN,NaN,14629,100000.0,NaN,2021-0410-USA,Natural,Climatological,...,6,Date_Complete,2021,7,31,2021-07-06,2021-07-31,25 days,0.821372,Found_in_Disasters
11456,NaN,NaN,NaN,NaN,14630,1100000.0,12.0,2021-0532-USA,Natural,Hydrological,...,17,Date_Complete,2021,8,22,2021-08-17,2021-08-22,5 days,0.164274,Found_in_Disasters
11457,UZ,41.377491,64.585262,Uzbekistan,14631,NaN,8.0,2021-0413-UZB,Natural,Hydrological,...,12,Date_Complete,2021,7,13,2021-07-12,2021-07-13,1 days,0.032855,Found_in_Disasters
11458,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,14632,325000.0,NaN,2021-0195-VCT,Natural,Geophysical,...,9,Date_Complete,2021,4,30,2021-04-09,2021-04-30,21 days,0.689953,Found_in_Disasters
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,14633,NaN,NaN,2021-0373-VCT,Natural,Meteorological,...,2,Date_Complete,2021,7,3,2021-07-02,2021-07-03,1 days,0.032855,Found_in_Disasters
11460,NaN,NaN,NaN,NaN,14634,NaN,NaN,2021-0269-VEN,Natural,Hydrological,...,30,Date_Complete,2021,5,4,2021-04-30,2021-05-04,4 days,0.131420,Found_in_Disasters
11461,NaN,NaN,NaN,NaN,14635,NaN,NaN,2021-0171-VNM,Natural,Meteorological,...,22,Date_Complete,2021,3,23,2021-03-22,2021-03-23,1 days,0.032855,Found_in_Disasters
11462,NaN,NaN,NaN,NaN,14636,NaN,3.0,2021-0217-VNM,Natural,Hydrological,...,16,Date_Complete,2021,4,19,2021-04-16,2021-04-19,3 days,0.098565,Found_in_Disasters
11463,NaN,NaN,NaN,NaN,14637,NaN,2.0,2021-0595-VNM,Natural,Meteorological,...,12,Date_Complete,2021,9,12,2021-09-12,2021-09-12,0 days,0.000000,Found_in_Disasters
11464,YE,15.552727,48.516388,Yemen,14638,NaN,13.0,2021-0270-YEM,Natural,Hydrological,...,1,Date_Complete,2021,5,17,2021-05-01,2021-05-17,16 days,0.525678,Found_in_Disasters
11465,YE,15.552727,48.516388,Yemen,14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,...,16,Date_Complete,2021,8,7,2021-07-16,2021-08-07,22 days,0.722807,Found_in_Disasters
11466,ZA,-30.559482,22.937506,South Africa,14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,...,1,Date_Complete,2021,2,15,2021-02-01,2021-02-15,14 days,0.459968,Found_in_Disasters
11467,NaN,NaN,NaN,NaN,14641,NaN,131.0,2021-0599-COD,Natural,Biological,...,7,Date_Complete,2021,9,13,2021-09-07,2021-09-13,6 days,0.197129,Found_in_Disasters
11468,RS,44.016521,21.005859,Serbia,14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,...,11,Date_Complete,2021,1,12,2021-01-11,2021-01-12,1 days,0.032855,Found_in_Disasters

In [32]:
Merged_filtered_wLatLong_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11469 entries, 0 to 11468
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country_code                       5825 non-null   object
 1   latitude                           5839 non-null   float64
 2   longitude                          5839 non-null   float64
 3   country                            5839 non-null   object
 4   Index                              11469 non-null  int64
 5   Total Damages ('000 US$)           4265 non-null   float64
 6   Total Deaths                       8501 non-null   float64
 7   Dis No                             11469 non-null  object
 8   Disaster Group                     11469 non-null  object
 9   Disaster Subgroup                  11469 non-null  object
 10  Disaster Type                      11469 non-null  object
 11  Disaster Subtype                   9465 non-null   object
 12  Disaster Subsubtype                966 non-null    object
 13  Country                            11469 non-null  object
 14  Region                             11469 non-null  object
 15  Location                           10763 non-null  object
 16  Continent                          11469 non-null  object
 17  Start_Date_Complete_Y_N            11469 non-null  object
 18  Start Year                         11469 non-null  int64
 19  Start Month                        11469 non-null  int64
 20  Start Day                          11469 non-null  int64
 21  End_Date_Complete_Y_N              11469 non-null  object
 22  End Year                           11469 non-null  int64
 23  End Month                          11469 non-null  int64
 24  End Day                            11469 non-null  int64
 25  Start Date                         11468 non-null  object
 26  End Date                           11465 non-null  object
 27  Start to End Date_Duration Days    11465 non-null  object
 28  Start to End Date_Duration Months  11465 non-null  float64
 29  in_index                           11469 non-null  object
dtypes: float64(5), int64(7), object(18)
memory usage: 2.7+ MB

In [31]:
LatLong_Merged_toCSV = Merged_filtered_wLatLong_df.dropna()

LatLong_Merged_toCSV

,country_code,latitude,longitude,country,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,...,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months,in_index
383,IT,41.871940,12.567380,Italy,631,1000.0,1.0,1978-0082-ITA,Natural,Meteorological,...,25,Date_Complete,1978,6,25,1978-06-25,1978-06-25,0 days,0.000000,Found_in_Disasters
607,CA,56.130366,-106.346771,Canada,1073,117000.0,12.0,1985-0201-CAN,Natural,Meteorological,...,29,Date_Complete,1985,6,1,1985-05-29,1985-06-01,3 days,0.098565,Found_in_Disasters
686,CA,56.130366,-106.346771,Canada,1208,265000.0,26.0,1987-0135-CAN,Natural,Meteorological,...,31,Date_Complete,1987,7,31,1987-07-31,1987-07-31,0 days,0.000000,Found_in_Disasters
1408,TD,15.454166,18.732207,Chad,2420,157.0,11.0,1988-0277-TCD,Natural,Meteorological,...,25,Date_Complete,1988,6,25,1988-06-25,1988-06-25,0 days,0.000000,Found_in_Disasters
1850,IN,20.593684,78.962880,India,3001,2200000.0,120.0,1990-0397-IND,Natural,Meteorological,...,25,Date_Complete,1990,8,25,1990-08-25,1990-08-25,0 days,0.000000,Found_in_Disasters
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,CA,56.130366,-106.346771,Canada,13922,25000.0,1.0,2021-0356-CAN,Natural,Meteorological,...,21,Date_Complete,2021,6,22,2021-06-21,2021-06-22,1 days,0.032855,Found_in_Disasters
10951,IT,41.871940,12.567380,Italy,14085,60000.0,3.0,2020-0406-ITA,Natural,Meteorological,...,29,Date_Complete,2020,8,30,2020-08-29,2020-08-30,1 days,0.032855,Found_in_Disasters
11174,MX,23.634501,-102.552784,Mexico,14323,50000.0,6.0,2021-0274-MEX,Natural,Meteorological,...,16,Date_Complete,2021,5,18,2021-05-16,2021-05-18,2 days,0.065710,Found_in_Disasters
11222,JP,36.204824,138.252924,Japan,14371,2000000.0,23.0,2021-0018-JPN,Natural,Meteorological,...,7,Date_Complete,2021,1,12,2021-01-07,2021-01-12,5 days,0.164274,Found_in_Disasters
11282,MX,23.634501,-102.552784,Mexico,14438,100000.0,12.0,2021-0122-MEX,Natural,Meteorological,...,12,Date_Complete,2021,2,20,2021-02-12,2021-02-20,8 days,0.262839,Found_in_Disasters

In [ ]:
#Confirm to Disaster starting/ending dates df's the missing data rows via 1s and 0s.
#via URL => https://stackoverflow.com/questions/60094213/for-loop-to-find-rows-in-another-dataframe
#Supporting URL => https://stackoverflow.com/questions/50449088/check-if-value-from-one-dataframe-exists-in-another-dataframe

#Excellent way to create a "custom" boolean for our data cleansing purposes ... with regards to missing data.

#Merged_disaster_starting_dates_df = Disaster_dates_df.merge(Starting_missing_dates.assign(in_index="Missing_Month_or_Day"),
#                                                                      left_on='Dis No', right_on='Dis No', how='left').fillna({'in_index':'Date_Complete'})
#Analysis_disaster_starting_dates_df.info()

#Merged_disaster_starting_dates_df

In [ ]:
#Filter_to_Value = "Date_Complete"

#Filtered_Complete_DataAnalysis_toCsv = Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N == @Filter_to_Value and End_Date_Complete_Y_N == @Filter_to_Value ')

#Used URL => https://towardsdatascience.com/use-pandas-query-to-filter-or-select-data-in-pandas-dataframe-82ae3a3683a1

In [ ]:
#end_y = Disaster_starting_dates_df['Start Year']
#end_m = Disaster_starting_dates_df['Start Month']
#end_d = Disaster_starting_dates_df['Start Day']
#end_total = Disaster_starting_dates_df['Dis No']
#print(st_d)

#end_y = end_y.isnull().sum()
#end_m = end_m.isnull().sum()
#end_d = end_d.isnull().sum()
#end_total = end_total.count()
#print(end_total)
#print(end_y)
#print(end_m)
#print(end_d)
#print("+-+-+-+-+-+")
#end_y_missing = round( end_y / end_total * 100 , 2)
#end_m_missing = round( end_m / end_total * 100 , 2)
#end_d_missing = round( end_d / end_total * 100 , 2)

#print(f"The End Day column has {end_d_missing} % of missing data.\nThe End Month column has {end_m_missing} % of missing data.\nThe End Year column has {end_y_missing} % of missing data.\n")