In [90]:
# Import dependencies
import pandas as pd
import numpy as np
import os

In [91]:
# Change directory to the directory of current python script. 
#via URL => https://stackoverflow.com/questions/1432924/python-change-the-scripts-working-directory-to-the-scripts-own-directory
#via URL => https://www.geeksforgeeks.org/python-os-path-abspath-method-with-example/

file_name = "CountryFocused_DF_csv.ipynb"
abs_path = os.path.abspath(file_name)        #(__file__)
print(abs_path)
dir_name = os.path.dirname(abs_path)
print(dir_name)
print("-----")
os.chdir(dir_name)

c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview\CountryFocused_DF_csv.ipynb
c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview
-----

In [92]:
#Confirm VAR for location of Resources Folder.
target_directory_file1 = "Resources/Country_LatLong/"
source1_file_name = "world_country_and_usa_states_latitude_and_longitude_values.csv"

Pandas_read_file1 = target_directory_file1 + source1_file_name

In [93]:
#Confirm VAR for location of Resources Folder.
target_directory_file2 = "Outputs/"
source2_file_name = "Filtered_Clean_DataAnalysis_NaturalDisasters_1970-2021.csv"

Pandas_read_file2 = target_directory_file2 + source2_file_name

In [94]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Country_lat_long_df = pd.read_csv(Pandas_read_file1) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Country_lat_long_df.head()

  country_code   latitude  longitude         country
0           CZ  49.817492  15.472962  Czech Republic
1           DE  51.165691  10.451526         Germany
2           DJ  11.825138  42.590275        Djibouti
3           DK  56.263920   9.501785         Denmark
4           DM  15.414999 -61.370976        Dominica

In [95]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Filtered_Complete_DataAnalysis_df = pd.read_csv(Pandas_read_file2) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Filtered_Complete_DataAnalysis_df.head()

,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,...,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months
0,0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,...,1,4,Date_Complete,1970,1,4,1970-01-04,1970-01-04,0 days,0.0
1,3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,...,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12,0 days,0.0
2,4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,...,4,13,Date_Complete,1970,4,13,1970-04-13,1970-04-13,0 days,0.0
3,6,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,...,10,23,Date_Complete,1970,10,23,1970-10-23,1970-10-23,0 days,0.0
4,8,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,...,7,21,Date_Complete,1970,7,21,1970-07-21,1970-07-21,0 days,0.0

In [96]:
Filtered_Complete_DataAnalysis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11469 entries, 0 to 11468
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Index                              11469 non-null  int64
 1   Total Damages ('000 US$)           4265 non-null   float64
 2   Total Deaths                       8501 non-null   float64
 3   Dis No                             11469 non-null  object
 4   Disaster Group                     11469 non-null  object
 5   Disaster Subgroup                  11469 non-null  object
 6   Disaster Type                      11469 non-null  object
 7   Disaster Subtype                   9465 non-null   object
 8   Disaster Subsubtype                966 non-null    object
 9   Country                            11469 non-null  object
 10  Region                             11469 non-null  object
 11  Location                           10763 non-null  object
 12  Continent                          11469 non-null  object
 13  Start_Date_Complete_Y_N            11469 non-null  object
 14  Start Year                         11469 non-null  int64
 15  Start Month                        11469 non-null  int64
 16  Start Day                          11469 non-null  int64
 17  End_Date_Complete_Y_N              11469 non-null  object
 18  End Year                           11469 non-null  int64
 19  End Month                          11469 non-null  int64
 20  End Day                            11469 non-null  int64
 21  Start Date                         11468 non-null  object
 22  End Date                           11465 non-null  object
 23  Start to End Date_Duration Days    11465 non-null  object
 24  Start to End Date_Duration Months  11465 non-null  float64
dtypes: float64(3), int64(7), object(15)
memory usage: 2.2+ MB

In [97]:
#via URL => https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers


List_of_Analysis2_Columns = Filtered_Complete_DataAnalysis_df.columns.values.tolist()

List_of_Analysis2_Columns

['Index',
 "Total Damages ('000 US$)",
 'Total Deaths',
 'Dis No',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'Disaster Subsubtype',
 'Country',
 'Region',
 'Location',
 'Continent',
 'Start_Date_Complete_Y_N',
 'Start Year',
 'Start Month',
 'Start Day',
 'End_Date_Complete_Y_N',
 'End Year',
 'End Month',
 'End Day',
 'Start Date',
 'End Date',
 'Start to End Date_Duration Days',
 'Start to End Date_Duration Months']

In [98]:
#Create unique list of Filtered Data to enable comparatives via str.lower()

#Disaster_groups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[3]].unique().tolist())
#Disaster_subgroups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[4]].unique().tolist())
#Disaster_types = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[5]].unique().tolist())
#Disaster_Subtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[6]].unique().tolist())
#Disaster_Subsubtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[7]].unique().tolist())
Disaster_countries = pd.Series(Filtered_Complete_DataAnalysis_df[List_of_Analysis2_Columns[9]].unique().tolist())
#Disaster_region = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[9]].unique().tolist())
#Diasaster_contenent = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[11]].unique().tolist())
#Disaster_location = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[10]].unique().tolist())

Disaster_countries

0                       Argentina
1                      Bangladesh
2                          Brazil
3                        Barbados
4                          Canada
                  ...
221                         Qatar
222              Saint Barthélemy
223    Saint Martin (French Part)
224     Sint Maarten (Dutch part)
225                   Isle of Man
Length: 226, dtype: object

In [99]:
List_of_Analysis1_Columns = Country_lat_long_df.columns.values.tolist()

List_of_Analysis1_Columns

['country_code', 'latitude', 'longitude', 'country']

In [100]:
#Create series for Lat Long Countries... #Country_lat_long_df

Lat_long_Countries = pd.Series(Country_lat_long_df[List_of_Analysis1_Columns[3]].unique().tolist())

Lat_long_Countries

0      Czech Republic
1             Germany
2            Djibouti
3             Denmark
4            Dominica
            ...
189           Mayotte
190      South Africa
191            Zambia
192          Zimbabwe
193            Canada
Length: 194, dtype: object

In [101]:
#compare countries using lower() to "fuzzy" assess matches.

Matched_Countries = [i for x in Lat_long_Countries for i in Disaster_countries if i.lower() == x.lower()] #.sort()

Matched_Countries = pd.Series(sorted(Matched_Countries)) #.astype("string")   #VIA URL => https://realpython.com/python-sort/

def get_country(Matched_Countries):
     return Matched_Countries.get()

#Matched_Countries = list(Matched_Countries).sort(key=get_country,reverse=False)

print(Matched_Countries) #.str)   #.str.get(:))

0                Algeria
1               Cambodia
2                 Canada
3                   Chad
4                Croatia
             ...
130              Vanuatu
131    Wallis and Futuna
132                Yemen
133               Zambia
134             Zimbabwe
Length: 135, dtype: object

In [102]:
#merge by country name. Above confirmed 135 merges will be taking place ... I'll drop na from the merge column ... 

Merged_filtered_wLatLong_df = Country_lat_long_df.merge(Filtered_Complete_DataAnalysis_df.assign(in_index="Found_in_Disasters"),
                                                                      left_on=List_of_Analysis1_Columns[3], right_on=List_of_Analysis2_Columns[9], how='right').fillna({'in_index':'Lost_Filtered_Data'})

Merged_filtered_wLatLong_df.tail(15)

,country_code,latitude,longitude,country,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,...,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months,in_index
11454,NaN,NaN,NaN,NaN,14628,NaN,NaN,2021-0357-USA,Natural,Climatological,...,6,Date_Complete,2021,7,4,2021-06-06,2021-07-04,28 days,0.919937,Found_in_Disasters
11455,NaN,NaN,NaN,NaN,14629,100000.0,NaN,2021-0410-USA,Natural,Climatological,...,6,Date_Complete,2021,7,31,2021-07-06,2021-07-31,25 days,0.821372,Found_in_Disasters
11456,NaN,NaN,NaN,NaN,14630,1100000.0,12.0,2021-0532-USA,Natural,Hydrological,...,17,Date_Complete,2021,8,22,2021-08-17,2021-08-22,5 days,0.164274,Found_in_Disasters
11457,UZ,41.377491,64.585262,Uzbekistan,14631,NaN,8.0,2021-0413-UZB,Natural,Hydrological,...,12,Date_Complete,2021,7,13,2021-07-12,2021-07-13,1 days,0.032855,Found_in_Disasters
11458,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,14632,325000.0,NaN,2021-0195-VCT,Natural,Geophysical,...,9,Date_Complete,2021,4,30,2021-04-09,2021-04-30,21 days,0.689953,Found_in_Disasters
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,14633,NaN,NaN,2021-0373-VCT,Natural,Meteorological,...,2,Date_Complete,2021,7,3,2021-07-02,2021-07-03,1 days,0.032855,Found_in_Disasters
11460,NaN,NaN,NaN,NaN,14634,NaN,NaN,2021-0269-VEN,Natural,Hydrological,...,30,Date_Complete,2021,5,4,2021-04-30,2021-05-04,4 days,0.131420,Found_in_Disasters
11461,NaN,NaN,NaN,NaN,14635,NaN,NaN,2021-0171-VNM,Natural,Meteorological,...,22,Date_Complete,2021,3,23,2021-03-22,2021-03-23,1 days,0.032855,Found_in_Disasters
11462,NaN,NaN,NaN,NaN,14636,NaN,3.0,2021-0217-VNM,Natural,Hydrological,...,16,Date_Complete,2021,4,19,2021-04-16,2021-04-19,3 days,0.098565,Found_in_Disasters
11463,NaN,NaN,NaN,NaN,14637,NaN,2.0,2021-0595-VNM,Natural,Meteorological,...,12,Date_Complete,2021,9,12,2021-09-12,2021-09-12,0 days,0.000000,Found_in_Disasters
11464,YE,15.552727,48.516388,Yemen,14638,NaN,13.0,2021-0270-YEM,Natural,Hydrological,...,1,Date_Complete,2021,5,17,2021-05-01,2021-05-17,16 days,0.525678,Found_in_Disasters
11465,YE,15.552727,48.516388,Yemen,14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,...,16,Date_Complete,2021,8,7,2021-07-16,2021-08-07,22 days,0.722807,Found_in_Disasters
11466,ZA,-30.559482,22.937506,South Africa,14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,...,1,Date_Complete,2021,2,15,2021-02-01,2021-02-15,14 days,0.459968,Found_in_Disasters
11467,NaN,NaN,NaN,NaN,14641,NaN,131.0,2021-0599-COD,Natural,Biological,...,7,Date_Complete,2021,9,13,2021-09-07,2021-09-13,6 days,0.197129,Found_in_Disasters
11468,RS,44.016521,21.005859,Serbia,14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,...,11,Date_Complete,2021,1,12,2021-01-11,2021-01-12,1 days,0.032855,Found_in_Disasters

In [103]:
Full_GrpBy_Cols = pd.Series(Merged_filtered_wLatLong_df.columns.values.tolist())

#Note ... I didn't have pd.Series() above ... and probably could have "just" done that ...

#via URL => https://datagy.io/python-zip-lists/
#list_a = Full_GrpBy_Cols.index
#list_b = Full_GrpBy_Cols

#Below ... is my "by hand" attempt without ... finding a URL.
#Full_GrpBy_Cols = set(list(range(len(Full_GrpBy_Cols))),Full_GrpBy_Cols)

#zipped = (list_a, list_b)
#Full_GrpBy_Cols = zipped

Full_GrpBy_Cols

0                          country_code
1                              latitude
2                             longitude
3                               country
4                                 Index
5              Total Damages ('000 US$)
6                          Total Deaths
7                                Dis No
8                        Disaster Group
9                     Disaster Subgroup
10                        Disaster Type
11                     Disaster Subtype
12                  Disaster Subsubtype
13                              Country
14                               Region
15                             Location
16                            Continent
17              Start_Date_Complete_Y_N
18                           Start Year
19                          Start Month
20                            Start Day
21                End_Date_Complete_Y_N
22                             End Year
23                            End Month
24                              End Day
25                           Start Date
26                             End Date
27      Start to End Date_Duration Days
28    Start to End Date_Duration Months
29                             in_index
dtype: object

In [104]:

#Reduced_GrpBy_Cols = [[Full_GrpBy_Cols[0],Full_GrpBy_Cols[1],Full_GrpBy_Cols[2],Full_GrpBy_Cols[13],Full_GrpBy_Cols[14],Full_GrpBy_Cols[16],Full_GrpBy_Cols[7],Full_GrpBy_Cols[6],Full_GrpBy_Cols[27],Full_GrpBy_Cols[28],Full_GrpBy_Cols[9],Full_GrpBy_Cols[10],Full_GrpBy_Cols[11],Full_GrpBy_Cols[8]]] #Needed for removal of "NaNs" step .... 

Reduced_merged_df = Merged_filtered_wLatLong_df.loc[ : , [Full_GrpBy_Cols[0],Full_GrpBy_Cols[1],Full_GrpBy_Cols[2],Full_GrpBy_Cols[13],Full_GrpBy_Cols[14],Full_GrpBy_Cols[16],Full_GrpBy_Cols[7],Full_GrpBy_Cols[6],Full_GrpBy_Cols[27],Full_GrpBy_Cols[28],Full_GrpBy_Cols[9],Full_GrpBy_Cols[10],Full_GrpBy_Cols[11],Full_GrpBy_Cols[8]]]
                                                    
                                                    
                                                    # Reduced_GrpBy_Cols] #ERROR ... not working for some reason ... come back to it in the future ... 

Reduced_merged_df.head()

,country_code,latitude,longitude,Country,Region,Continent,Dis No,Total Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
0,NaN,NaN,NaN,Argentina,South America,Americas,1970-0013-ARG,36.0,0 days,0.0,Hydrological,Flood,NaN,Natural
1,NaN,NaN,NaN,Bangladesh,Southern Asia,Asia,1970-0063-BGD,300000.0,0 days,0.0,Meteorological,Storm,Tropical cyclone,Natural
2,NaN,NaN,NaN,Bangladesh,Southern Asia,Asia,1970-0026-BGD,17.0,0 days,0.0,Meteorological,Storm,NaN,Natural
3,NaN,NaN,NaN,Bangladesh,Southern Asia,Asia,1970-0058-BGD,300.0,0 days,0.0,Meteorological,Storm,NaN,Natural
4,NaN,NaN,NaN,Brazil,South America,Americas,1970-0037-BRA,172.0,0 days,0.0,Hydrological,Flood,NaN,Natural

In [105]:

Reduced_GrpBy_Cols = pd.Series(Reduced_merged_df.columns.values.tolist())
print(Reduced_GrpBy_Cols)

Reduced_merged_df.info()

fill_na_values = {str(Reduced_GrpBy_Cols[0]):"N/A" ,str(Reduced_GrpBy_Cols[1]):0,str(Reduced_GrpBy_Cols[2]):0}

Analysis_Reduced_merged_df = Reduced_merged_df.fillna(value=fill_na_values)  


#     Pivoting to URL approach => https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html
# Reduced_merged_df.loc[["latitude"] != np.nan , Reduced_GrpBy_Cols ]     # (["latitude"] != "" or ["longitude"] != "") == True , Reduced_GrpBy_Cols ]  # (["latitude"] != "" | ["longitude"] != "") , Reduced_GrpBy_Cols ]

Analysis_Reduced_merged_df.tail(12)

0                          country_code
1                              latitude
2                             longitude
3                               Country
4                                Region
5                             Continent
6                                Dis No
7                          Total Deaths
8       Start to End Date_Duration Days
9     Start to End Date_Duration Months
10                    Disaster Subgroup
11                        Disaster Type
12                     Disaster Subtype
13                       Disaster Group
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11469 entries, 0 to 11468
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country_code                       5825 non-null   object
 1   latitude                           5839 non-null   float64
 2   longitude                          5839 non-null   float64
 3   Country                            11469 non-null  object
 4   Region                             11469 non-null  object
 5   Continent                          11469 non-null  object
 6   Dis No                             11469 non-null  object
 7   Total Deaths                       8501 non-null   float64
 8   Start to End Date_Duration Days    11465 non-null  object
 9   Start to End Date_Duration Months  11465 non-null  float64
 10  Disaster Subgroup                  11469 non-null  object
 11  Disaster Type                      11469 non-null  object
 12  Disaster Subtype                   9465 non-null   object
 13  Disaster Group                     11469 non-null  object
dtypes: float64(4), object(10)
memory usage: 1.3+ MB

,country_code,latitude,longitude,Country,Region,Continent,Dis No,Total Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
11457,UZ,41.377491,64.585262,Uzbekistan,Central Asia,Asia,2021-0413-UZB,8.0,1 days,0.032855,Hydrological,Landslide,Mudslide,Natural
11458,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0195-VCT,NaN,21 days,0.689953,Geophysical,Volcanic activity,Pyroclastic flow,Natural
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0373-VCT,NaN,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11460,N/A,0.000000,0.000000,Venezuela (Bolivarian Republic of),South America,Americas,2021-0269-VEN,NaN,4 days,0.131420,Hydrological,Flood,NaN,Natural
11461,N/A,0.000000,0.000000,Viet Nam,South-Eastern Asia,Asia,2021-0171-VNM,NaN,1 days,0.032855,Meteorological,Storm,Convective storm,Natural
11462,N/A,0.000000,0.000000,Viet Nam,South-Eastern Asia,Asia,2021-0217-VNM,3.0,3 days,0.098565,Hydrological,Flood,Flash flood,Natural
11463,N/A,0.000000,0.000000,Viet Nam,South-Eastern Asia,Asia,2021-0595-VNM,2.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural
11467,N/A,0.000000,0.000000,Congo (the Democratic Republic of the),Middle Africa,Africa,2021-0599-COD,131.0,6 days,0.197129,Biological,Epidemic,Viral disease,Natural
11468,RS,44.016521,21.005859,Serbia,Southern Europe,Europe,2021-0020-SRB,NaN,1 days,0.032855,Hydrological,Flood,NaN,Natural

In [107]:
Filter_to_Value = 0

#Filtered_Complete_DataAnalysis_toCsv = Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N == @Filter_to_Value and End_Date_Complete_Y_N == @Filter_to_Value ')

#Used URL => https://towardsdatascience.com/use-pandas-query-to-filter-or-select-data-in-pandas-dataframe-82ae3a3683a1

Analysis_Reduced_merged_df2 = Analysis_Reduced_merged_df.query('latitude != @Filter_to_Value' ) # #loc[["latitude"] != 0]

Analysis_Reduced_merged_df2

,country_code,latitude,longitude,Country,Region,Continent,Dis No,Total Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
6,CA,56.130366,-106.346771,Canada,Northern America,Americas,1970-0042-CAN,10.0,0 days,0.000000,Meteorological,Storm,NaN,Natural
17,DM,15.414999,-61.370976,Dominica,Caribbean,Americas,1970-0120-DMA,NaN,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
18,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0067-ECU,29.0,0 days,0.000000,Geophysical,Earthquake,Ground movement,Natural
19,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0023-ECU,20.0,0 days,0.000000,Hydrological,Flood,NaN,Natural
20,ET,9.145000,40.489673,Ethiopia,Eastern Africa,Africa,1970-0007-ETH,500.0,0 days,0.000000,Biological,Epidemic,Bacterial disease,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0373-VCT,NaN,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural
11468,RS,44.016521,21.005859,Serbia,Southern Europe,Europe,2021-0020-SRB,NaN,1 days,0.032855,Hydrological,Flood,NaN,Natural

In [113]:
print(Reduced_GrpBy_Cols)

Analysis_Reduced_merged_df2.info()

0                          country_code
1                              latitude
2                             longitude
3                               Country
4                                Region
5                             Continent
6                                Dis No
7                          Total Deaths
8       Start to End Date_Duration Days
9     Start to End Date_Duration Months
10                    Disaster Subgroup
11                        Disaster Type
12                     Disaster Subtype
13                       Disaster Group
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5839 entries, 6 to 11468
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country_code                       5839 non-null   object
 1   latitude                           5839 non-null   float64
 2   longitude                          5839 non-null   float64
 3   Country                            5839 non-null   object
 4   Region                             5839 non-null   object
 5   Continent                          5839 non-null   object
 6   Dis No                             5839 non-null   object
 7   Total Deaths                       4317 non-null   float64
 8   Start to End Date_Duration Days    5836 non-null   object
 9   Start to End Date_Duration Months  5836 non-null   float64
 10  Disaster Subgroup                  5839 non-null   object
 11  Disaster Type                      5839 non-null   object
 12  Disaster Subtype                   4792 non-null   object
 13  Disaster Group                     5839 non-null   object
dtypes: float64(4), object(10)
memory usage: 684.3+ KB

In [122]:
fill_na_values = {str(Reduced_GrpBy_Cols[7]):"N/A"} # ,str(Reduced_GrpBy_Cols[1]):0,str(Reduced_GrpBy_Cols[2]):0}

Analysis_Reduced_merged_df3 = Analysis_Reduced_merged_df2.fillna(value=fill_na_values)  

new_name = {
     "Dis No" : "Dis_No",
     "Total Deaths":"Total_Deaths"
}

Analysis_Reduced_merged_df3 = Analysis_Reduced_merged_df3.rename(columns=new_name)

Analysis_Reduced_merged_df3

,country_code,latitude,longitude,Country,Region,Continent,Dis_No,Total_Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
6,CA,56.130366,-106.346771,Canada,Northern America,Americas,1970-0042-CAN,10.0,0 days,0.000000,Meteorological,Storm,NaN,Natural
17,DM,15.414999,-61.370976,Dominica,Caribbean,Americas,1970-0120-DMA,N/A,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
18,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0067-ECU,29.0,0 days,0.000000,Geophysical,Earthquake,Ground movement,Natural
19,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0023-ECU,20.0,0 days,0.000000,Hydrological,Flood,NaN,Natural
20,ET,9.145000,40.489673,Ethiopia,Eastern Africa,Africa,1970-0007-ETH,500.0,0 days,0.000000,Biological,Epidemic,Bacterial disease,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0373-VCT,N/A,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural
11468,RS,44.016521,21.005859,Serbia,Southern Europe,Europe,2021-0020-SRB,N/A,1 days,0.032855,Hydrological,Flood,NaN,Natural

In [123]:
Filter_to_Value2 = "N/A"

Analysis_Reduced_merged_df4 = Analysis_Reduced_merged_df3.query(r'Total_Deaths != @Filter_to_Value2')  #' ) # #loc[["latitude"] != 0]

Analysis_Reduced_merged_df4

,country_code,latitude,longitude,Country,Region,Continent,Dis_No,Total_Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
6,CA,56.130366,-106.346771,Canada,Northern America,Americas,1970-0042-CAN,10.0,0 days,0.000000,Meteorological,Storm,NaN,Natural
18,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0067-ECU,29.0,0 days,0.000000,Geophysical,Earthquake,Ground movement,Natural
19,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0023-ECU,20.0,0 days,0.000000,Hydrological,Flood,NaN,Natural
20,ET,9.145000,40.489673,Ethiopia,Eastern Africa,Africa,1970-0007-ETH,500.0,0 days,0.000000,Biological,Epidemic,Bacterial disease,Natural
21,FR,46.227638,2.213749,France,Western Europe,Europe,1970-0016-FRA,42.0,0 days,0.000000,Hydrological,Landslide,Avalanche,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11445,UG,1.373333,32.290275,Uganda,Eastern Africa,Africa,2021-0240-UGA,1.0,4 days,0.131420,Hydrological,Flood,NaN,Natural
11457,UZ,41.377491,64.585262,Uzbekistan,Central Asia,Asia,2021-0413-UZB,8.0,1 days,0.032855,Hydrological,Landslide,Mudslide,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural

In [124]:
output_file_name1 = "LatLong_Filtered_NaturalDisastersData.csv"

Analysis_Reduced_merged_df4.to_csv(output_file_name1)

In [ ]:
#end_y = Disaster_starting_dates_df['Start Year']
#end_m = Disaster_starting_dates_df['Start Month']
#end_d = Disaster_starting_dates_df['Start Day']
#end_total = Disaster_starting_dates_df['Dis No']
#print(st_d)

#end_y = end_y.isnull().sum()
#end_m = end_m.isnull().sum()
#end_d = end_d.isnull().sum()
#end_total = end_total.count()
#print(end_total)
#print(end_y)
#print(end_m)
#print(end_d)
#print("+-+-+-+-+-+")
#end_y_missing = round( end_y / end_total * 100 , 2)
#end_m_missing = round( end_m / end_total * 100 , 2)
#end_d_missing = round( end_d / end_total * 100 , 2)

#print(f"The End Day column has {end_d_missing} % of missing data.\nThe End Month column has {end_m_missing} % of missing data.\nThe End Year column has {end_y_missing} % of missing data.\n")

In [ ]:
#Merged_filtered_wLatLong_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11469 entries, 0 to 11468
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country_code                       5825 non-null   object
 1   latitude                           5839 non-null   float64
 2   longitude                          5839 non-null   float64
 3   country                            5839 non-null   object
 4   Index                              11469 non-null  int64
 5   Total Damages ('000 US$)           4265 non-null   float64
 6   Total Deaths                       8501 non-null   float64
 7   Dis No                             11469 non-null  object
 8   Disaster Group                     11469 non-null  object
 9   Disaster Subgroup                  11469 non-null  object
 10  Disaster Type                      11469 non-null  object
 11  Disaster Subtype                   9465 non-null   object
 12  Disaster Subsubtype                966 non-null    object
 13  Country                            11469 non-null  object
 14  Region                             11469 non-null  object
 15  Location                           10763 non-null  object
 16  Continent                          11469 non-null  object
 17  Start_Date_Complete_Y_N            11469 non-null  object
 18  Start Year                         11469 non-null  int64
 19  Start Month                        11469 non-null  int64
 20  Start Day                          11469 non-null  int64
 21  End_Date_Complete_Y_N              11469 non-null  object
 22  End Year                           11469 non-null  int64
 23  End Month                          11469 non-null  int64
 24  End Day                            11469 non-null  int64
 25  Start Date                         11468 non-null  object
 26  End Date                           11465 non-null  object
 27  Start to End Date_Duration Days    11465 non-null  object
 28  Start to End Date_Duration Months  11465 non-null  float64
 29  in_index                           11469 non-null  object
dtypes: float64(5), int64(7), object(18)
memory usage: 2.7+ MB

In [ ]:
#LatLong_Merged_toCSV = Merged_filtered_wLatLong_df.dropna()

#LatLong_Merged_toCSV

In [ ]:
#Confirm to Disaster starting/ending dates df's the missing data rows via 1s and 0s.
#via URL => https://stackoverflow.com/questions/60094213/for-loop-to-find-rows-in-another-dataframe
#Supporting URL => https://stackoverflow.com/questions/50449088/check-if-value-from-one-dataframe-exists-in-another-dataframe

#Excellent way to create a "custom" boolean for our data cleansing purposes ... with regards to missing data.

#Merged_disaster_starting_dates_df = Disaster_dates_df.merge(Starting_missing_dates.assign(in_index="Missing_Month_or_Day"),
#                                                                      left_on='Dis No', right_on='Dis No', how='left').fillna({'in_index':'Date_Complete'})
#Analysis_disaster_starting_dates_df.info()

#Merged_disaster_starting_dates_df

In [ ]:
#Filter_to_Value = "Date_Complete"

#Filtered_Complete_DataAnalysis_toCsv = Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N == @Filter_to_Value and End_Date_Complete_Y_N == @Filter_to_Value ')

#Used URL => https://towardsdatascience.com/use-pandas-query-to-filter-or-select-data-in-pandas-dataframe-82ae3a3683a1

In [ ]:
#end_y = Disaster_starting_dates_df['Start Year']
#end_m = Disaster_starting_dates_df['Start Month']
#end_d = Disaster_starting_dates_df['Start Day']
#end_total = Disaster_starting_dates_df['Dis No']
#print(st_d)

#end_y = end_y.isnull().sum()
#end_m = end_m.isnull().sum()
#end_d = end_d.isnull().sum()
#end_total = end_total.count()
#print(end_total)
#print(end_y)
#print(end_m)
#print(end_d)
#print("+-+-+-+-+-+")
#end_y_missing = round( end_y / end_total * 100 , 2)
#end_m_missing = round( end_m / end_total * 100 , 2)
#end_d_missing = round( end_d / end_total * 100 , 2)

#print(f"The End Day column has {end_d_missing} % of missing data.\nThe End Month column has {end_m_missing} % of missing data.\nThe End Year column has {end_y_missing} % of missing data.\n")