In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import os
from datetime import datetime as dt
#from shutil import move 
import shutil
#from re import split, findall as re
import re #

#import csv

In [3]:
# Change directory to the directory of current python script. 
#via URL => https://stackoverflow.com/questions/1432924/python-change-the-scripts-working-directory-to-the-scripts-own-directory
#via URL => https://www.geeksforgeeks.org/python-os-path-abspath-method-with-example/

file_name = "Project3_NaturalDisasters.ipynb"
abs_path = os.path.abspath(file_name)        #(__file__)
print(abs_path)
dir_name = os.path.dirname(abs_path)
print(dir_name)
print("-----")
os.chdir(dir_name)

c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview\Project3_NaturalDisasters.ipynb
c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview
-----

In [4]:
#Confirm VAR for location of Resources Folder.
target_directory_file1 = "Resources/DISASTERS/"
source1_file_name = "1970-2021_DISASTERS.xlsx - emdat data.csv"

Pandas_read_file1 = target_directory_file1 + source1_file_name

In [5]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

#usecols_file1 = [] #Note1 => Will load all Cols to start ... good feature for future if we'd already know the data, etc.
#Approach via URL => https://www.datacamp.com/tutorial/pandas-read-csv
index_col_file1 = "Dis No"

natural_disasters_df = pd.read_csv(Pandas_read_file1) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
natural_disasters_df.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25000.0,15.001282,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,...,NaN,NaN,NaN,NaN,72475.0,15.001282,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,15.001282,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,3648000.0,NaN,NaN,86400.0,15.001282,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,110.0,NaN,NaN,NaN,15.001282,NaN,NaN,NaN,NaN

In [6]:
# Get a brief summary of the DataFrame.
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Dis No                           14644 non-null  object
 1   Year                             14644 non-null  int64
 2   Seq                              14644 non-null  int64
 3   Glide                            1581 non-null   object
 4   Disaster Group                   14644 non-null  object
 5   Disaster Subgroup                14644 non-null  object
 6   Disaster Type                    14644 non-null  object
 7   Disaster Subtype                 11897 non-null  object
 8   Disaster Subsubtype              1044 non-null   object
 9   Event Name                       3645 non-null   object
 10  Country                          14644 non-null  object
 11  ISO                              14644 non-null  object
 12  Region                           14644 non-null  object
 13  Continent                        14644 non-null  object
 14  Location                         13298 non-null  object
 15  Origin                           3780 non-null   object
 16  Associated Dis                   3232 non-null   object
 17  Associated Dis2                  698 non-null    object
 18  OFDA Response                    1450 non-null   object
 19  Appeal                           2440 non-null   object
 20  Declaration                      3127 non-null   object
 21  Aid Contribution                 677 non-null    float64
 22  Dis Mag Value                    4569 non-null   float64
 23  Dis Mag Scale                    13571 non-null  object
 24  Latitude                         2331 non-null   object
 25  Longitude                        2335 non-null   object
 26  Local Time                       765 non-null    object
 27  River Basin                      1285 non-null   object
 28  Start Year                       14644 non-null  int64
 29  Start Month                      14376 non-null  float64
 30  Start Day                        11577 non-null  float64
 31  End Year                         14644 non-null  int64
 32  End Month                        14095 non-null  float64
 33  End Day                          11650 non-null  float64
 34  Total Deaths                     10199 non-null  float64
 35  No Injured                       3651 non-null   float64
 36  No Affected                      8846 non-null   float64
 37  No Homeless                      2249 non-null   float64
 38  Total Affected                   11041 non-null  float64
 39  Reconstruction Costs ('000 US$)  31 non-null     float64
 40  Insured Damages ('000 US$)       1094 non-null   float64
 41  Total Damages ('000 US$)         4863 non-null   float64
 42  CPI                              14329 non-null  float64
 43  Adm Level                        7855 non-null   object
 44  Admin1 Code                      4581 non-null   object
 45  Admin2 Code                      3965 non-null   object
 46  Geo Locations                    7855 non-null   object
dtypes: float64(15), int64(4), object(28)
memory usage: 5.3+ MB

In [7]:
#List columns in total.

natural_disasters_df_colums = natural_disasters_df.columns

natural_disasters_df_colums

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [8]:
#Create an Analysis_DF via Pandas "select cols" approach.

List_of_Analysis1_Columns = [str("Total Damages ('000 US$)"),'Total Deaths','Dis No','Disaster Group', 'Disaster Subgroup','Disaster Type','Disaster Subtype', 'Disaster Subsubtype', 'Country', 'Region','Location','Continent']
     #Note single quotes issue with how Source_File named "Total Damages ('000 US$)".

Analysis_natural_disasters_df = natural_disasters_df[List_of_Analysis1_Columns] #,]
#Reminders via URL => https://www.golinuxcloud.com/pandas-select-columns-examples/ and https://www.datacamp.com/tutorial/python-select-columns

Analysis_natural_disasters_df.tail()

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,Location,Continent
14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,Flood,NaN,NaN,Yemen,Western Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sanaâ€™a C...",Asia
14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,Flood,NaN,NaN,South Africa,Southern Africa,"Mpumalanga Province, Free State Province and t...",Africa
14641,NaN,131.0,2021-0599-COD,Natural,Biological,Epidemic,Viral disease,NaN,Congo (the Democratic Republic of the),Middle Africa,Tshopo province,Africa
14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,Flood,NaN,NaN,Serbia,Southern Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Europe
14643,NaN,7.0,2021-0481-SSD,Natural,Hydrological,Flood,NaN,NaN,South Sudan,Northern Africa,"Mayendit County (Unity); Ayod, Fangak Counties...",Africa

In [9]:
#Print Analysis_DF Data Types to Enable Analysis.

print(Analysis_natural_disasters_df.dtypes)
#via URL syntax note ... no "()" with dtypes ... => https://datatofish.com/data-type-pandas-dataframe/

Total Damages ('000 US$)    float64
Total Deaths                float64
Dis No                       object
Disaster Group               object
Disaster Subgroup            object
Disaster Type                object
Disaster Subtype             object
Disaster Subsubtype          object
Country                      object
Region                       object
Location                     object
Continent                    object
dtype: object

In [10]:
#Convert Analysis_DF Data Types to Enable Analysis.

#N/A ... the Damages and Deaths actually read-in as float64.

Analysis_natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Total Damages ('000 US$)  4863 non-null   float64
 1   Total Deaths              10199 non-null  float64
 2   Dis No                    14644 non-null  object
 3   Disaster Group            14644 non-null  object
 4   Disaster Subgroup         14644 non-null  object
 5   Disaster Type             14644 non-null  object
 6   Disaster Subtype          11897 non-null  object
 7   Disaster Subsubtype       1044 non-null   object
 8   Country                   14644 non-null  object
 9   Region                    14644 non-null  object
 10  Location                  13298 non-null  object
 11  Continent                 14644 non-null  object
dtypes: float64(2), object(10)
memory usage: 1.3+ MB

In [11]:
#Establish Unique lists of potential visualization columns. Purpose is in anticipation of any requirements to count the observations as categories.
#Likely a BP is to extract each of these as a .csv as well to the MondoDB as "dimensions".

#Disaster Subsubtype + subtype added as per comments from DataVisual coder.

Disaster_groups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[3]].unique().tolist())
Disaster_subgroups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[4]].unique().tolist())
Disaster_types = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[5]].unique().tolist())
Disaster_Subtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[6]].unique().tolist())
Disaster_Subsubtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[7]].unique().tolist())
Disaster_countries = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[8]].unique().tolist())
Disaster_region = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[9]].unique().tolist())
Diasaster_contenent = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[11]].unique().tolist())
Disaster_location = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[10]].unique().tolist())

In [12]:
#Print test lists to validate output.

print(Disaster_location)
print("------")
print(Disaster_Subsubtypes)
print("------")
Diasaster_contenent.tail()

0                                                  Mendoza
1                                               Queensland
2                                           Atacora region
3                                       Khulna, Chittagong
4                                                      NaN
                               ...
11991    Dhamar, Amran, Al Mahwit, Marib, Ibb, Sanaâ€™a C...
11992    Mpumalanga Province, Free State Province and t...
11993                                      Tshopo province
11994    Zitoradja (Toplicki), Doljevac (Nisavski) , Di...
11995    Mayendit County (Unity); Ayod, Fangak Counties...
Length: 11996, dtype: object
------
0                         NaN
1       Winter storm/Blizzard
2                    Mudslide
3                     Tornado
4     Lightning/Thunderstorms
5                        Hail
6             Sand/Dust storm
7                Severe storm
8           Sudden subsidence
9                    Snow/Ice
10                       Rain
11                Storm/Surge
12                    Derecho
dtype: object
------

0    Americas
1     Oceania
2      Africa
3        Asia
4      Europe
dtype: object

In [13]:
print(Disaster_countries)

0                       Argentina
1                       Australia
2                           Benin
3                      Bangladesh
4                          Brazil
                  ...
223                         Qatar
224              Saint BarthÃ©lemy
225    Saint Martin (French Part)
226     Sint Maarten (Dutch part)
227                   Isle of Man
Length: 228, dtype: object

In [13]:
#Create Date Observations and Date Durations DataFrame

List_of_Dates1_Columns = ['Dis No', 'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month','End Day' ]

Disaster_dates_df = natural_disasters_df[List_of_Dates1_Columns]

Disaster_dates_df

,Dis No,Start Year,Start Month,Start Day,End Year,End Month,End Day
0,1970-0013-ARG,1970,1.0,4.0,1970,1.0,4.0
1,1970-0109-AUS,1970,1.0,NaN,1970,1.0,NaN
2,1970-0044-BEN,1970,9.0,NaN,1970,9.0,NaN
3,1970-0063-BGD,1970,11.0,12.0,1970,11.0,12.0
4,1970-0026-BGD,1970,4.0,13.0,1970,4.0,13.0
...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,7.0,16.0,2021,8.0,7.0
14640,2021-0075-ZAF,2021,2.0,1.0,2021,2.0,15.0
14641,2021-0599-COD,2021,9.0,7.0,2021,9.0,13.0
14642,2021-0020-SRB,2021,1.0,11.0,2021,1.0,12.0
14643,2021-0481-SSD,2021,5.0,NaN,2021,10.0,7.0

In [14]:
#Create Year Starting Date Column

Disaster_starting_dates_df = Disaster_dates_df.copy()
Starting_date_cols = ['Dis No', 'Start Year', 'Start Month', 'Start Day']
Disaster_starting_dates_df = Disaster_starting_dates_df.loc[:,Starting_date_cols]

#Print to validate.
Disaster_starting_dates_df.head()

          Dis No  Start Year  Start Month  Start Day
0  1970-0013-ARG        1970          1.0        4.0
1  1970-0109-AUS        1970          1.0        NaN
2  1970-0044-BEN        1970          9.0        NaN
3  1970-0063-BGD        1970         11.0       12.0
4  1970-0026-BGD        1970          4.0       13.0

In [15]:
#CONVERT starting and ending DF data types to enable datetime conversion.
#via URL => https://stackoverflow.com/questions/19350806/how-to-convert-columns-into-one-datetime-column-in-pandas

Disaster_starting_dates_df = Disaster_starting_dates_df.astype(str)

#via URL => https://stackoverflow.com/questions/68841890/convert-month-name-to-decimal-using-to-datetime-function-in-pandas
Disaster_starting_dates_df['Start Year'] = pd.to_datetime(Disaster_starting_dates_df[Starting_date_cols[1]].str.split('.').str.get(0), format= '%Y').dt.strftime('%Y')
Disaster_starting_dates_df['Start Month'] = pd.to_datetime(Disaster_starting_dates_df[Starting_date_cols[2]].str.split('.').str.get(0), format= '%m').dt.strftime('%m')
Disaster_starting_dates_df['Start Day'] = pd.to_datetime(Disaster_starting_dates_df[Starting_date_cols[3]].str.split('.').str.get(0), format= '%d').dt.strftime('%d')

Disaster_starting_dates_df

#ALSO as a next step URL => https://stackoverflow.com/questions/54879143/converting-month-number-to-datetime-in-pandas

              Dis No Start Year Start Month Start Day
0      1970-0013-ARG       1970          01        04
1      1970-0109-AUS       1970          01       NaN
2      1970-0044-BEN       1970          09       NaN
3      1970-0063-BGD       1970          11        12
4      1970-0026-BGD       1970          04        13
...              ...        ...         ...       ...
14639  2021-0449-YEM       2021          07        16
14640  2021-0075-ZAF       2021          02        01
14641  2021-0599-COD       2021          09        07
14642  2021-0020-SRB       2021          01        11
14643  2021-0481-SSD       2021          05       NaN

[14644 rows x 4 columns]

In [16]:
#Create Year Ending Date Column
Disaster_ending_dates_df = Disaster_dates_df.copy()

#Reduce copied DF to necessary columns for analysis.
Ending_date_cols = ['Dis No', 'End Year', 'End Month', 'End Day']
Disaster_ending_dates_df = Disaster_ending_dates_df.loc[:,Ending_date_cols]

#Print to validate.
Disaster_ending_dates_df.tail()

              Dis No  End Year  End Month  End Day
14639  2021-0449-YEM      2021        8.0      7.0
14640  2021-0075-ZAF      2021        2.0     15.0
14641  2021-0599-COD      2021        9.0     13.0
14642  2021-0020-SRB      2021        1.0     12.0
14643  2021-0481-SSD      2021       10.0      7.0

In [17]:
#CONVERT starting and ending DF data types to enable datetime conversion.
#via URL => https://stackoverflow.com/questions/19350806/how-to-convert-columns-into-one-datetime-column-in-pandas

Disaster_ending_dates_df = Disaster_ending_dates_df.astype(str)

#via URL => https://stackoverflow.com/questions/68841890/convert-month-name-to-decimal-using-to-datetime-function-in-pandas
Disaster_ending_dates_df['End Year'] = pd.to_datetime(Disaster_ending_dates_df[Ending_date_cols[1]].str.split('.').str.get(0), format= '%Y').dt.strftime('%Y')
Disaster_ending_dates_df['End Month'] = pd.to_datetime(Disaster_ending_dates_df[Ending_date_cols[2]].str.split('.').str.get(0), format= '%m').dt.strftime('%m')
Disaster_ending_dates_df['End Day'] = pd.to_datetime(Disaster_ending_dates_df[Ending_date_cols[3]].str.split('.').str.get(0), format= '%d').dt.strftime('%d')

Disaster_ending_dates_df

              Dis No End Year End Month End Day
0      1970-0013-ARG     1970        01      04
1      1970-0109-AUS     1970        01     NaN
2      1970-0044-BEN     1970        09     NaN
3      1970-0063-BGD     1970        11      12
4      1970-0026-BGD     1970        04      13
...              ...      ...       ...     ...
14639  2021-0449-YEM     2021        08      07
14640  2021-0075-ZAF     2021        02      15
14641  2021-0599-COD     2021        09      13
14642  2021-0020-SRB     2021        01      12
14643  2021-0481-SSD     2021        10      07

[14644 rows x 4 columns]

In [18]:
Disaster_starting_dates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dis No       14644 non-null  object
 1   Start Year   14644 non-null  object
 2   Start Month  14376 non-null  object
 3   Start Day    11577 non-null  object
dtypes: object(4)
memory usage: 457.8+ KB

In [19]:
#Find the Total Data Observations Count in the starting dates DF + The Null Counts for each Column that would participate in a visualization.
#+ Validated to still work after pd.datetime convert inserted above.

st_y = Disaster_starting_dates_df['Start Year']
st_m = Disaster_starting_dates_df['Start Month']
st_d = Disaster_starting_dates_df['Start Day']
st_total = Disaster_starting_dates_df['Dis No']
#print(st_d)

st_y = st_y.isnull().sum()
st_m = st_m.isnull().sum()
st_d = st_d.isnull().sum()
st_total = st_total.count()
print(st_total)
print(st_y)
print(st_m)
print(st_d)

def percent_formula(value,total_value):
     percentage = round( value / total_value * 100 , 2)
     print("Percentage: ",percentage)
#DOESNT work as expected with the f-string ... not using it.

st_y_missing = round( st_y / st_total * 100 , 2)
st_m_missing = round( st_m / st_total * 100 , 2)
st_d_missing = round( st_d / st_total * 100 , 2)

14644
0
268
3067

In [20]:
#Validated to still work after pd.datetime convert inserted above.
#Provided to data visual coder as contextual information on what could become "missing" from our dataset. As it can impact the initially discussed narratives to explore (IE: we can throw some of them our perhaps ... or tweak others ... etc. etc.).

print(f"The Start Day column has {st_d_missing} % of missing data.\nThe Start Month column has {st_m_missing} % of missing data.\nThe Start Year column has {st_y_missing} % of missing data.\n")

The Start Day column has 20.94 % of missing data.
The Start Month column has 1.83 % of missing data.
The Start Year column has 0.0 % of missing data.

In [21]:
#Same comment and code as 2 cells above ... but for the End dates analysis.

end_y = Disaster_starting_dates_df['Start Year']
end_m = Disaster_starting_dates_df['Start Month']
end_d = Disaster_starting_dates_df['Start Day']
end_total = Disaster_starting_dates_df['Dis No']
#print(st_d)

end_y = end_y.isnull().sum()
end_m = end_m.isnull().sum()
end_d = end_d.isnull().sum()
end_total = end_total.count()
print(end_total)
print(end_y)
print(end_m)
print(end_d)
print("+-+-+-+-+-+")
end_y_missing = round( end_y / end_total * 100 , 2)
end_m_missing = round( end_m / end_total * 100 , 2)
end_d_missing = round( end_d / end_total * 100 , 2)

print(f"The End Day column has {end_d_missing} % of missing data.\nThe End Month column has {end_m_missing} % of missing data.\nThe End Year column has {end_y_missing} % of missing data.\n")

14644
0
268
3067
+-+-+-+-+-+
The End Day column has 20.94 % of missing data.
The End Month column has 1.83 % of missing data.
The End Year column has 0.0 % of missing data.

In [22]:
#if start month/day is NaN ... then "null" the date ... 
#via URL => https://stackoverflow.com/questions/17071871/how-do-i-select-rows-from-a-dataframe-based-on-column-values

#USE CASE => Became very valuable to create the "missing Y/N" column in the final DF with "Date_Completed" ... noted as a column based on the "joinability" ( IE: result of pd.Merge() )

Starting_missing_dates = Disaster_starting_dates_df.loc[(Disaster_starting_dates_df['Start Month'].isnull()) | Disaster_starting_dates_df['Start Day'].isnull()]

Starting_Rename_Missing = {
     'Start Year' : 'Missing_start_DF_Year',
     'Start Month' : 'Missing_start_DF_Month',
     'Start Day' : 'Missing_start_DF_Day'
}

Starting_missing_dates = Starting_missing_dates.rename(columns=Starting_Rename_Missing)

Starting_missing_dates

,Dis No,Missing_start_DF_Year,Missing_start_DF_Month,Missing_start_DF_Day
1,1970-0109-AUS,1970,01,NaN
2,1970-0044-BEN,1970,09,NaN
5,1970-0035-BGD,1970,07,NaN
7,1970-9005-BRA,1970,08,NaN
10,1970-9073-BWA,1970,01,NaN
...,...,...,...,...
14569,2020-0478-VCT,2020,10,NaN
14587,2020-0031-ZMB,2020,01,NaN
14590,2020-0362-SSD,2020,07,NaN
14615,2021-9639-SSD,2021,NaN,NaN
14643,2021-0481-SSD,2021,05,NaN

In [23]:
#if end month/day is NaN ... then "null" the date ... 
#via URL => https://stackoverflow.com/questions/17071871/how-do-i-select-rows-from-a-dataframe-based-on-column-values

#USE CASE => Became very valuable to create the "missing Y/N" column in the final DF with "Date_Completed" ... noted as a column based on the "joinability" ( IE: result of pd.Merge() )

Ending_missing_dates = Disaster_ending_dates_df.loc[(Disaster_ending_dates_df['End Month'].isnull()) | Disaster_ending_dates_df['End Day'].isnull()]

Ending_Rename_Missing = {
     'End Year' : 'Missing_end_DF_Year',
     'End Month' : 'Missing_end_DF_Month',
     'End Day' : 'Missing_end_DF_Day'
}

Ending_missing_dates = Ending_missing_dates.rename(columns=Ending_Rename_Missing)

Ending_missing_dates

,Dis No,Missing_end_DF_Year,Missing_end_DF_Month,Missing_end_DF_Day
1,1970-0109-AUS,1970,01,NaN
2,1970-0044-BEN,1970,09,NaN
5,1970-0035-BGD,1970,07,NaN
7,1970-9005-BRA,1970,NaN,NaN
10,1970-9073-BWA,1970,NaN,NaN
...,...,...,...,...
14569,2020-0478-VCT,2021,09,NaN
14587,2020-0031-ZMB,2020,01,NaN
14590,2020-0362-SSD,2020,12,NaN
14615,2021-9639-SSD,2021,09,NaN
14623,2021-0390-USA,2021,07,NaN

In [24]:
#Confirm to Disaster starting/ending dates df's the missing data rows via 1s and 0s.
#via URL => https://stackoverflow.com/questions/60094213/for-loop-to-find-rows-in-another-dataframe
#Supporting URL => https://stackoverflow.com/questions/50449088/check-if-value-from-one-dataframe-exists-in-another-dataframe

#Excellent way to create a "custom" boolean for our data cleansing purposes ... with regards to missing data.

Merged_disaster_starting_dates_df = Disaster_dates_df.merge(Starting_missing_dates.assign(in_index="Missing_Month_or_Day"),
                                                                      left_on='Dis No', right_on='Dis No', how='left').fillna({'in_index':'Date_Complete'})
#Analysis_disaster_starting_dates_df.info()

Merged_disaster_starting_dates_df

,Dis No,Start Year,Start Month,Start Day,End Year,End Month,End Day,Missing_start_DF_Year,Missing_start_DF_Month,Missing_start_DF_Day,in_index
0,1970-0013-ARG,1970,1.0,4.0,1970,1.0,4.0,NaN,NaN,NaN,Date_Complete
1,1970-0109-AUS,1970,1.0,NaN,1970,1.0,NaN,1970,01,NaN,Missing_Month_or_Day
2,1970-0044-BEN,1970,9.0,NaN,1970,9.0,NaN,1970,09,NaN,Missing_Month_or_Day
3,1970-0063-BGD,1970,11.0,12.0,1970,11.0,12.0,NaN,NaN,NaN,Date_Complete
4,1970-0026-BGD,1970,4.0,13.0,1970,4.0,13.0,NaN,NaN,NaN,Date_Complete
...,...,...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,7.0,16.0,2021,8.0,7.0,NaN,NaN,NaN,Date_Complete
14640,2021-0075-ZAF,2021,2.0,1.0,2021,2.0,15.0,NaN,NaN,NaN,Date_Complete
14641,2021-0599-COD,2021,9.0,7.0,2021,9.0,13.0,NaN,NaN,NaN,Date_Complete
14642,2021-0020-SRB,2021,1.0,11.0,2021,1.0,12.0,NaN,NaN,NaN,Date_Complete
14643,2021-0481-SSD,2021,5.0,NaN,2021,10.0,7.0,2021,05,NaN,Missing_Month_or_Day

In [25]:
#Rename and drop columns from Analysis disaster starting dates df .... 

#Create dict Var for code simplicity.
in_index_start_rename = {
     'in_index' : 'Start_Date_Complete_Y_N',
}

#Point DF to rename function leveraging dict Var.
Merged_disaster_starting_dates_df = Merged_disaster_starting_dates_df.rename(columns=in_index_start_rename)

#Confirm columns to keep in Analysis Start dates df as list.
Merged_Analysis_cols = ["Dis No","Start Year","Start Month","Start Day","End Year","End Month","End Day","Start_Date_Complete_Y_N"]

#Not sure why below failed but check URL => https://pyquestions.com/how-to-solve-keyerror-u-none-of-index-dtype-object-are-in-the-columns
# [List_of_Dates1_Columns[0],List_of_Dates1_Columns[1],List_of_Dates1_Columns[2],List_of_Dates1_Columns[3],List_of_Dates1_Columns[4],List_of_Dates1_Columns[5],List_of_Dates1_Columns[6], 'Start_Date_Complete_Y_N']

In [26]:
#Drop Merged Missing start df ... duplicate data (IE: only keeping Date Complete.)
Analysis_disaster_dates_df2 = Merged_disaster_starting_dates_df[ Merged_Analysis_cols  ] #["Dis No","Start Year","Start Month","Start Day","End Year","End Month","End Day","Start_Date_Complete_Y_N"]]

Analysis_disaster_dates_df2#.info()

# Weird issue ... not sure if Python needed to just have the kernel flushed and it took time ... but it kept giving me the non-index error before ... but renaming the DF seem to have helped here too.

,Dis No,Start Year,Start Month,Start Day,End Year,End Month,End Day,Start_Date_Complete_Y_N
0,1970-0013-ARG,1970,1.0,4.0,1970,1.0,4.0,Date_Complete
1,1970-0109-AUS,1970,1.0,NaN,1970,1.0,NaN,Missing_Month_or_Day
2,1970-0044-BEN,1970,9.0,NaN,1970,9.0,NaN,Missing_Month_or_Day
3,1970-0063-BGD,1970,11.0,12.0,1970,11.0,12.0,Date_Complete
4,1970-0026-BGD,1970,4.0,13.0,1970,4.0,13.0,Date_Complete
...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,7.0,16.0,2021,8.0,7.0,Date_Complete
14640,2021-0075-ZAF,2021,2.0,1.0,2021,2.0,15.0,Date_Complete
14641,2021-0599-COD,2021,9.0,7.0,2021,9.0,13.0,Date_Complete
14642,2021-0020-SRB,2021,1.0,11.0,2021,1.0,12.0,Date_Complete
14643,2021-0481-SSD,2021,5.0,NaN,2021,10.0,7.0,Missing_Month_or_Day

In [27]:
#Create and update the Analysis disaster ending dates df .... (IE: repeat same steps ... )

#Excellent way to create a "custom" boolean for our data cleansing purposes ... with regards to missing data.

Merged_disaster_ending_dates_df = Analysis_disaster_dates_df2.merge(Ending_missing_dates.assign(in_index="Missing_Month_or_Day"),
                                                                      left_on='Dis No', right_on='Dis No', how='left').fillna({'in_index':'Date_Complete'})

Merged_disaster_ending_dates_df

,Dis No,Start Year,Start Month,Start Day,End Year,End Month,End Day,Start_Date_Complete_Y_N,Missing_end_DF_Year,Missing_end_DF_Month,Missing_end_DF_Day,in_index
0,1970-0013-ARG,1970,1.0,4.0,1970,1.0,4.0,Date_Complete,NaN,NaN,NaN,Date_Complete
1,1970-0109-AUS,1970,1.0,NaN,1970,1.0,NaN,Missing_Month_or_Day,1970,01,NaN,Missing_Month_or_Day
2,1970-0044-BEN,1970,9.0,NaN,1970,9.0,NaN,Missing_Month_or_Day,1970,09,NaN,Missing_Month_or_Day
3,1970-0063-BGD,1970,11.0,12.0,1970,11.0,12.0,Date_Complete,NaN,NaN,NaN,Date_Complete
4,1970-0026-BGD,1970,4.0,13.0,1970,4.0,13.0,Date_Complete,NaN,NaN,NaN,Date_Complete
...,...,...,...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,7.0,16.0,2021,8.0,7.0,Date_Complete,NaN,NaN,NaN,Date_Complete
14640,2021-0075-ZAF,2021,2.0,1.0,2021,2.0,15.0,Date_Complete,NaN,NaN,NaN,Date_Complete
14641,2021-0599-COD,2021,9.0,7.0,2021,9.0,13.0,Date_Complete,NaN,NaN,NaN,Date_Complete
14642,2021-0020-SRB,2021,1.0,11.0,2021,1.0,12.0,Date_Complete,NaN,NaN,NaN,Date_Complete
14643,2021-0481-SSD,2021,5.0,NaN,2021,10.0,7.0,Missing_Month_or_Day,NaN,NaN,NaN,Date_Complete

In [28]:
#Create dict Var for code simplicity.
in_index_end_rename = {
     'in_index' : 'End_Date_Complete_Y_N',
}

#Point DF to rename function leveraging dict Var.
Merged_disaster_ending_dates_df = Merged_disaster_ending_dates_df.rename(columns=in_index_end_rename)

#Confirm columns to keep in Analysis Start dates df as list.
Merged_Analysis_cols2 = ["Dis No","Start_Date_Complete_Y_N","Start Year","Start Month","Start Day","End_Date_Complete_Y_N","End Year","End Month","End Day"]

#Drop Merged Missing start df ... duplicate data (IE: only keeping Date Complete.)
Analysis_disaster_dates_df2 = Merged_disaster_ending_dates_df[ Merged_Analysis_cols2]

Analysis_disaster_dates_df2

,Dis No,Start_Date_Complete_Y_N,Start Year,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day
0,1970-0013-ARG,Date_Complete,1970,1.0,4.0,Date_Complete,1970,1.0,4.0
1,1970-0109-AUS,Missing_Month_or_Day,1970,1.0,NaN,Missing_Month_or_Day,1970,1.0,NaN
2,1970-0044-BEN,Missing_Month_or_Day,1970,9.0,NaN,Missing_Month_or_Day,1970,9.0,NaN
3,1970-0063-BGD,Date_Complete,1970,11.0,12.0,Date_Complete,1970,11.0,12.0
4,1970-0026-BGD,Date_Complete,1970,4.0,13.0,Date_Complete,1970,4.0,13.0
...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,Date_Complete,2021,7.0,16.0,Date_Complete,2021,8.0,7.0
14640,2021-0075-ZAF,Date_Complete,2021,2.0,1.0,Date_Complete,2021,2.0,15.0
14641,2021-0599-COD,Date_Complete,2021,9.0,7.0,Date_Complete,2021,9.0,13.0
14642,2021-0020-SRB,Date_Complete,2021,1.0,11.0,Date_Complete,2021,1.0,12.0
14643,2021-0481-SSD,Missing_Month_or_Day,2021,5.0,NaN,Date_Complete,2021,10.0,7.0

In [29]:
#CLEAN the Columns in the Analysis DF2 ... because of the Value Error found doing it "initially" ... (copy+paste of code ... but very telling on how the syntax/flow of python will function for my coding approach ... )

#CONVERT starting and ending DF data types to enable datetime conversion.
#via URL => https://stackoverflow.com/questions/19350806/how-to-convert-columns-into-one-datetime-column-in-pandas

Analysis_disaster_dates_df2 = Analysis_disaster_dates_df2.astype(str)

#via URL => https://stackoverflow.com/questions/68841890/convert-month-name-to-decimal-using-to-datetime-function-in-pandas
Analysis_disaster_dates_df2['Start Year'] = pd.to_datetime(Analysis_disaster_dates_df2[Merged_Analysis_cols2[2]].str.split('.').str.get(0), format= '%Y').dt.strftime('%Y')
Analysis_disaster_dates_df2['Start Month'] = pd.to_datetime(Analysis_disaster_dates_df2[Merged_Analysis_cols2[3]].str.split('.').str.get(0), format= '%m').dt.strftime('%m')
Analysis_disaster_dates_df2['Start Day'] = pd.to_datetime(Analysis_disaster_dates_df2[Merged_Analysis_cols2[4]].str.split('.').str.get(0), format= '%d').dt.strftime('%d')
Analysis_disaster_dates_df2['End Year'] = pd.to_datetime(Analysis_disaster_dates_df2[Merged_Analysis_cols2[6]].str.split('.').str.get(0), format= '%Y').dt.strftime('%Y')
Analysis_disaster_dates_df2['End Month'] = pd.to_datetime(Analysis_disaster_dates_df2[Merged_Analysis_cols2[7]].str.split('.').str.get(0), format= '%m').dt.strftime('%m')
Analysis_disaster_dates_df2['End Day'] = pd.to_datetime(Analysis_disaster_dates_df2[Merged_Analysis_cols2[8]].str.split('.').str.get(0), format= '%d').dt.strftime('%d')

Analysis_disaster_dates_df2.head()

,Dis No,Start_Date_Complete_Y_N,Start Year,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day
0,1970-0013-ARG,Date_Complete,1970,01,04,Date_Complete,1970,01,04
1,1970-0109-AUS,Missing_Month_or_Day,1970,01,NaN,Missing_Month_or_Day,1970,01,NaN
2,1970-0044-BEN,Missing_Month_or_Day,1970,09,NaN,Missing_Month_or_Day,1970,09,NaN
3,1970-0063-BGD,Date_Complete,1970,11,12,Date_Complete,1970,11,12
4,1970-0026-BGD,Date_Complete,1970,04,13,Date_Complete,1970,04,13

In [30]:
Analysis_disaster_dates_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14644 entries, 0 to 14643
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dis No                   14644 non-null  object
 1   Start_Date_Complete_Y_N  14644 non-null  object
 2   Start Year               14644 non-null  object
 3   Start Month              14376 non-null  object
 4   Start Day                11577 non-null  object
 5   End_Date_Complete_Y_N    14644 non-null  object
 6   End Year                 14644 non-null  object
 7   End Month                14095 non-null  object
 8   End Day                  11650 non-null  object
dtypes: object(9)
memory usage: 1.1+ MB

In [31]:
#Create year month columns for enabling Month duration analysis.

#Using Lambda function via URL => https://cmdlinetips.com/2021/02/combine-year-month-and-day-columns-to-single-date-in-pandas/
#Will find alternative solution in the future.

Start_Date_Convert_Cols = ["Start Year", "Start Month", "Start Day"]

Analysis_disaster_dates_df2["Start Date"] = Analysis_disaster_dates_df2[Start_Date_Convert_Cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")


End_Date_Convert_Cols = ["End Year", "End Month", "End Day"]

Analysis_disaster_dates_df2["End Date"] = Analysis_disaster_dates_df2[End_Date_Convert_Cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

#Add new Cols to Merged Analysis for pd.concat cleanup of dupes below.
Merged_Analysis_cols2.extend(['Start Date', 'End Date'])

#Remove Column DUPE from ... Dates DF to avoid data duplication when loaded into MongoDB.

#print(Analysis_disaster_dates_df2.columns) #['Dis No', 'Start_Date_Complete_Y_N', 'Start Year', 'Start Month', 'Start Day', 'End_Date_Complete_Y_N', 'End Year', 'End Month','End Day', 'Start Date', 'End Date']

#Analysis_disaster_dates_df2 = Analysis_disaster_dates_df2['Start_Date_Complete_Y_N', 'Start Year', 'Start Month', 'Start Day', 'End_Date_Complete_Y_N', 'End Year', 'End Month','End Day', 'Start Date', 'End Date']

Analysis_disaster_dates_df2.tail()

,Dis No,Start_Date_Complete_Y_N,Start Year,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date
14639,2021-0449-YEM,Date_Complete,2021,07,16,Date_Complete,2021,08,07,2021-07-16,2021-08-07
14640,2021-0075-ZAF,Date_Complete,2021,02,01,Date_Complete,2021,02,15,2021-02-01,2021-02-15
14641,2021-0599-COD,Date_Complete,2021,09,07,Date_Complete,2021,09,13,2021-09-07,2021-09-13
14642,2021-0020-SRB,Date_Complete,2021,01,11,Date_Complete,2021,01,12,2021-01-11,2021-01-12
14643,2021-0481-SSD,Missing_Month_or_Day,2021,05,NaN,Date_Complete,2021,10,07,2021-05-nan,2021-10-07

In [32]:
#Drop "Dis No" Column .... from the Disaster Dates DF ... 
#via URL => https://stackoverflow.com/questions/11285613/selecting-multiple-columns-in-a-pandas-dataframe .... REMEMBER the "SelectColumns.() ... in Python/Pandas ... is a "list of lists" ... 

Analysis_disaster_dates_df2 = Analysis_disaster_dates_df2[['Start_Date_Complete_Y_N', 'Start Year', 'Start Month', 'Start Day', 'End_Date_Complete_Y_N', 'End Year', 'End Month','End Day', 'Start Date', 'End Date']]

Analysis_disaster_dates_df2.tail()

,Start_Date_Complete_Y_N,Start Year,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date
14639,Date_Complete,2021,07,16,Date_Complete,2021,08,07,2021-07-16,2021-08-07
14640,Date_Complete,2021,02,01,Date_Complete,2021,02,15,2021-02-01,2021-02-15
14641,Date_Complete,2021,09,07,Date_Complete,2021,09,13,2021-09-07,2021-09-13
14642,Date_Complete,2021,01,11,Date_Complete,2021,01,12,2021-01-11,2021-01-12
14643,Missing_Month_or_Day,2021,05,NaN,Date_Complete,2021,10,07,2021-05-nan,2021-10-07

In [33]:
#Merge both Analysis DFs on the Index.
Complete_DataAnalysis_toCsv = pd.concat([Analysis_natural_disasters_df,Analysis_disaster_dates_df2],axis=1,join='inner')

#via URL => https://www.programiz.com/python-programming/methods/list/extend

Complete_Analysis_Cols_Prep = Complete_DataAnalysis_toCsv.columns

print(Complete_Analysis_Cols_Prep)

#List_of_Analysis1_Columns.extend(Merged_Analysis_cols2)   # unique()   #USE APPEND INSTEAD ...    # ["Dis No","Start_Date_Complete_Y_N","Start Year","Start Month","Start Day","End_Date_Complete_Y_N","End Year","End Month","End Day"]

Complete_Analysis_Cols_Prep1 = ["Total Damages ('000 US$)", 'Total Deaths', 'Dis No', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'Disaster Subsubtype', 'Country', 'Region', 'Location', 'Continent',
       'Start_Date_Complete_Y_N', 'Start Year', 'Start Month',
       'Start Day', 'End_Date_Complete_Y_N', 'End Year', 'End Month',
       'End Day', 'Start Date', 'End Date']



#Drop Duplicates - #via URL => https://pythonguides.com/get-unique-values-from-list-python/
#list(set(mylist)) - #via URL => https://stackoverflow.com/questions/12897374/get-unique-values-from-a-list-in-python
#Complete_Analysis_Cols_Kept = list(set(Complete_Analysis_Cols_Prep))

Complete_DataAnalysis_toCsv = Complete_DataAnalysis_toCsv[Complete_Analysis_Cols_Prep1]

Complete_DataAnalysis_toCsv.head()

Index(['Total Damages ('000 US$)', 'Total Deaths', 'Dis No', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'Disaster Subsubtype', 'Country', 'Region', 'Location', 'Continent',
       'Start_Date_Complete_Y_N', 'Start Year', 'Start Month', 'Start Day',
       'End_Date_Complete_Y_N', 'End Year', 'End Month', 'End Day',
       'Start Date', 'End Date'],
      dtype='object')

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,...,Start_Date_Complete_Y_N,Start Year,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date
0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,South America,...,Date_Complete,1970,01,04,Date_Complete,1970,01,04,1970-01-04,1970-01-04
1,72475.0,13.0,1970-0109-AUS,Natural,Meteorological,Storm,Tropical cyclone,NaN,Australia,Australia and New Zealand,...,Missing_Month_or_Day,1970,01,NaN,Missing_Month_or_Day,1970,01,NaN,1970-01-nan,1970-01-nan
2,200.0,NaN,1970-0044-BEN,Natural,Hydrological,Flood,NaN,NaN,Benin,Western Africa,...,Missing_Month_or_Day,1970,09,NaN,Missing_Month_or_Day,1970,09,NaN,1970-09-nan,1970-09-nan
3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,...,Date_Complete,1970,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12
4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,...,Date_Complete,1970,04,13,Date_Complete,1970,04,13,1970-04-13,1970-04-13

In [34]:
Filter_to_Value = "Date_Complete"

Filtered_Complete_DataAnalysis_toCsv = Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N == @Filter_to_Value and End_Date_Complete_Y_N == @Filter_to_Value ')
#Used URL => https://towardsdatascience.com/use-pandas-query-to-filter-or-select-data-in-pandas-dataframe-82ae3a3683a1


#loc[: ,  np.logical_and(
#     (Complete_DataAnalysis_toCsv["Start_Date_Complete_Y_N"] == Filter_to_Value)
#     , 
#     (Complete_DataAnalysis_toCsv["End_Date_Complete_Y_N"] != Filter_to_Value))
#]
      
     #  | (Complete_DataAnalysis_toCsv["End_Date_Complete_Y_N"] == Filter_to_Value & Complete_DataAnalysis_toCsv["Start_Date_Complete_Y_N"] != Filter_to_Value) ]


#Complete_DataAnalysis_toCsv.loc[: ,  (Complete_DataAnalysis_toCsv["Start_Date_Complete_Y_N"] == Filter_to_Value and Complete_DataAnalysis_toCsv["End_Date_Complete_Y_N"] != Filter_to_Value)  or (Complete_DataAnalysis_toCsv["End_Date_Complete_Y_N"] == Filter_to_Value and Complete_DataAnalysis_toCsv["Start_Date_Complete_Y_N"] != Filter_to_Value) ]
#
#Changed as per URL => https://towardsdatascience.com/fix-valueerror-truth-value-of-a-series-is-ambiguous-pandas-a683f0fd1b2f


#Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N' == @Filter_to_Value | 'End_Date_Complete_Y_N' == @Filter_to_Value)


#Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N  == in 'Date_Complete' | End_Date_Complete_Y_N  == in  'Date_Complete' ')

Filtered_Complete_DataAnalysis_toCsv

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,...,Start_Date_Complete_Y_N,Start Year,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date
0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,South America,...,Date_Complete,1970,01,04,Date_Complete,1970,01,04,1970-01-04,1970-01-04
3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,...,Date_Complete,1970,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12
4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,...,Date_Complete,1970,04,13,Date_Complete,1970,04,13,1970-04-13,1970-04-13
6,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,...,Date_Complete,1970,10,23,Date_Complete,1970,10,23,1970-10-23,1970-10-23
8,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,South America,...,Date_Complete,1970,07,21,Date_Complete,1970,07,21,1970-07-21,1970-07-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14638,NaN,13.0,2021-0270-YEM,Natural,Hydrological,Flood,Flash flood,NaN,Yemen,Western Asia,...,Date_Complete,2021,05,01,Date_Complete,2021,05,17,2021-05-01,2021-05-17
14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,Flood,NaN,NaN,Yemen,Western Asia,...,Date_Complete,2021,07,16,Date_Complete,2021,08,07,2021-07-16,2021-08-07
14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,Flood,NaN,NaN,South Africa,Southern Africa,...,Date_Complete,2021,02,01,Date_Complete,2021,02,15,2021-02-01,2021-02-15
14641,NaN,131.0,2021-0599-COD,Natural,Biological,Epidemic,Viral disease,NaN,Congo (the Democratic Republic of the),Middle Africa,...,Date_Complete,2021,09,07,Date_Complete,2021,09,13,2021-09-07,2021-09-13
14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,Flood,NaN,NaN,Serbia,Southern Europe,...,Date_Complete,2021,01,11,Date_Complete,2021,01,12,2021-01-11,2021-01-12

In [35]:
#convert the filtered start and end date columns back to datetime.
Filtered_Complete_DataAnalysis_toCsv.loc[:,['Start Date']] = pd.to_datetime(Filtered_Complete_DataAnalysis_toCsv['Start Date'], format='%Y-%m-%d', errors= 'coerce')
Filtered_Complete_DataAnalysis_toCsv.loc[:,['End Date']] = pd.to_datetime(Filtered_Complete_DataAnalysis_toCsv['End Date'], format='%Y-%m-%d', errors= 'coerce')

Filtered_Complete_DataAnalysis_toCsv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11469 entries, 0 to 14642
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Total Damages ('000 US$)  4265 non-null   float64
 1   Total Deaths              8501 non-null   float64
 2   Dis No                    11469 non-null  object
 3   Disaster Group            11469 non-null  object
 4   Disaster Subgroup         11469 non-null  object
 5   Disaster Type             11469 non-null  object
 6   Disaster Subtype          9465 non-null   object
 7   Disaster Subsubtype       966 non-null    object
 8   Country                   11469 non-null  object
 9   Region                    11469 non-null  object
 10  Location                  10763 non-null  object
 11  Continent                 11469 non-null  object
 12  Start_Date_Complete_Y_N   11469 non-null  object
 13  Start Year                11469 non-null  object
 14  Start Month               11469 non-null  object
 15  Start Day                 11469 non-null  object
 16  End_Date_Complete_Y_N     11469 non-null  object
 17  End Year                  11469 non-null  object
 18  End Month                 11469 non-null  object
 19  End Day                   11469 non-null  object
 20  Start Date                11468 non-null  datetime64[ns]
 21  End Date                  11465 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(18)
memory usage: 2.0+ MB

C:\Users\Aolda\AppData\Local\Temp\ipykernel_3200\3315653487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_Complete_DataAnalysis_toCsv.loc[:,['Start Date']] = pd.to_datetime(Filtered_Complete_DataAnalysis_toCsv['Start Date'], format='%Y-%m-%d', errors= 'coerce')
C:\Users\Aolda\AppData\Local\Temp\ipykernel_3200\3315653487.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Filtered_Complete_DataAnalysis_toCsv.loc[:,['Start Date']] = pd.to_datetime(Filtered_Complete_DataAnalysis_toCsv['Start Date'], format='%Y-%m-%d', errors= 'coerce')
C:\Users\Aolda\AppData\Local\Temp\ipykernel_3200\3315653487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_Complete_DataAnalysis_toCsv.loc[:,['End Date']] = pd.to_datetime(Filtered_Complete_DataAnalysis_toCsv['End Date'], format='%Y-%m-%d', errors= 'coerce')
C:\Users\Aolda\AppData\Local\Temp\ipykernel_3200\3315653487.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Filtered_Complete_DataAnalysis_toCsv.loc[:,['End Date']] = pd.to_datetime(Filtered_Complete_DataAnalysis_toCsv['End Date'], format='%Y-%m-%d', errors= 'coerce')

In [36]:
#import re

#Add Day Diff and Month Diff Columns to Filtered_DF

Filtered_Complete_DataAnalysis_toCsv['Start to End Date_Duration Days'] = (Filtered_Complete_DataAnalysis_toCsv.loc[:,'End Date'] -  Filtered_Complete_DataAnalysis_toCsv.loc[:,'Start Date']) #Also produced an error ...   #/np.timedelta64(1,'D')   #Produced Time Delta error ...    #.astype('float')

Filtered_Complete_DataAnalysis_toCsv['Start to End Date_Duration Months'] = Filtered_Complete_DataAnalysis_toCsv.loc[:,'Start to End Date_Duration Days']/np.timedelta64(1,'M')

Filtered_Complete_DataAnalysis_toCsv

C:\Users\Aolda\AppData\Local\Temp\ipykernel_3200\802597775.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_Complete_DataAnalysis_toCsv['Start to End Date_Duration Days'] = (Filtered_Complete_DataAnalysis_toCsv.loc[:,'End Date'] -  Filtered_Complete_DataAnalysis_toCsv.loc[:,'Start Date']) #Also produced an error ...   #/np.timedelta64(1,'D')   #Produced Time Delta error ...    #.astype('float')
C:\Users\Aolda\AppData\Local\Temp\ipykernel_3200\802597775.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_Complete_DataAnalysis_toCsv['Start to End Date_Duration Months'] = Filtered_Complete_DataAnalysis_toCsv.loc[:,'Start to End Date_Duration Days']/np.timedelta64(1,'M')

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,...,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months
0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,South America,...,01,04,Date_Complete,1970,01,04,1970-01-04,1970-01-04,0 days,0.000000
3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,...,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12,0 days,0.000000
4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,...,04,13,Date_Complete,1970,04,13,1970-04-13,1970-04-13,0 days,0.000000
6,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,...,10,23,Date_Complete,1970,10,23,1970-10-23,1970-10-23,0 days,0.000000
8,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,South America,...,07,21,Date_Complete,1970,07,21,1970-07-21,1970-07-21,0 days,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14638,NaN,13.0,2021-0270-YEM,Natural,Hydrological,Flood,Flash flood,NaN,Yemen,Western Asia,...,05,01,Date_Complete,2021,05,17,2021-05-01,2021-05-17,16 days,0.525678
14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,Flood,NaN,NaN,Yemen,Western Asia,...,07,16,Date_Complete,2021,08,07,2021-07-16,2021-08-07,22 days,0.722807
14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,Flood,NaN,NaN,South Africa,Southern Africa,...,02,01,Date_Complete,2021,02,15,2021-02-01,2021-02-15,14 days,0.459968
14641,NaN,131.0,2021-0599-COD,Natural,Biological,Epidemic,Viral disease,NaN,Congo (the Democratic Republic of the),Middle Africa,...,09,07,Date_Complete,2021,09,13,2021-09-07,2021-09-13,6 days,0.197129
14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,Flood,NaN,NaN,Serbia,Southern Europe,...,01,11,Date_Complete,2021,01,12,2021-01-11,2021-01-12,1 days,0.032855

In [37]:
Filtered_Complete_DataAnalysis_toCsv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11469 entries, 0 to 14642
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Total Damages ('000 US$)           4265 non-null   float64
 1   Total Deaths                       8501 non-null   float64
 2   Dis No                             11469 non-null  object
 3   Disaster Group                     11469 non-null  object
 4   Disaster Subgroup                  11469 non-null  object
 5   Disaster Type                      11469 non-null  object
 6   Disaster Subtype                   9465 non-null   object
 7   Disaster Subsubtype                966 non-null    object
 8   Country                            11469 non-null  object
 9   Region                             11469 non-null  object
 10  Location                           10763 non-null  object
 11  Continent                          11469 non-null  object
 12  Start_Date_Complete_Y_N            11469 non-null  object
 13  Start Year                         11469 non-null  object
 14  Start Month                        11469 non-null  object
 15  Start Day                          11469 non-null  object
 16  End_Date_Complete_Y_N              11469 non-null  object
 17  End Year                           11469 non-null  object
 18  End Month                          11469 non-null  object
 19  End Day                            11469 non-null  object
 20  Start Date                         11468 non-null  datetime64[ns]
 21  End Date                           11465 non-null  datetime64[ns]
 22  Start to End Date_Duration Days    11465 non-null  timedelta64[ns]
 23  Start to End Date_Duration Months  11465 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(18), timedelta64[ns](1)
memory usage: 2.2+ MB

In [45]:
#Split col ... into int portion for duration dats visualized sorting ... 


#re_text1 = Filtered_Complete_DataAnalysis_toCsv['Start to End Date_Duration Days'].astype(str).split(" ")[0]

re_text = Filtered_Complete_DataAnalysis_toCsv['Start to End Date_Duration Days'].astype(str)
str_split_df = pd.Series(re_text[:].str.split(" "))
     #NOT NEEDED #.dropna(inplace=True) #Via URL => https://stackoverflow.com/questions/46105180/typeerror-expected-string-or-bytes-like-object-with-python-nltk-word-tokenize
df_index = list(Filtered_Complete_DataAnalysis_toCsv.index.values)
print(re_text)
#print(re_text1[0].split(" "))
#print(df_index)
print(list(re_text))
print("+++++++")
#print(re_text[:].str.split(" "))  #Trial and Error from URL => https://stackoverflow.com/questions/67393942/attributeerror-series-object-has-no-attribute-split-error-in-sending-emails + https://medium.com/@ernestasena/python-string-methods-unveiled-part-two-4595cc22d90b
#print(re_text.split())
print("+++++++")
print(str_split_df)

0         0 days
3         0 days
4         0 days
6         0 days
8         0 days
          ...
14638    16 days
14639    22 days
14640    14 days
14641     6 days
14642     1 days
Name: Start to End Date_Duration Days, Length: 11469, dtype: object

In [ ]:
Filtered_Complete_DataAnalysis_toCsv.info()

Filtered_Complete_DataAnalysis_toCsv

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11469 entries, 0 to 14642
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Total Damages ('000 US$)           4265 non-null   float64
 1   Total Deaths                       8501 non-null   float64
 2   Dis No                             11469 non-null  object
 3   Disaster Group                     11469 non-null  object
 4   Disaster Subgroup                  11469 non-null  object
 5   Disaster Type                      11469 non-null  object
 6   Disaster Subtype                   9465 non-null   object
 7   Disaster Subsubtype                966 non-null    object
 8   Country                            11469 non-null  object
 9   Region                             11469 non-null  object
 10  Location                           10763 non-null  object
 11  Continent                          11469 non-null  object
 12  Start_Date_Complete_Y_N            11469 non-null  object
 13  Start Year                         11469 non-null  object
 14  Start Month                        11469 non-null  object
 15  Start Day                          11469 non-null  object
 16  End_Date_Complete_Y_N              11469 non-null  object
 17  End Year                           11469 non-null  object
 18  End Month                          11469 non-null  object
 19  End Day                            11469 non-null  object
 20  Start Date                         11468 non-null  datetime64[ns]
 21  End Date                           11465 non-null  datetime64[ns]
 22  Start to End Date_Duration Days    11465 non-null  timedelta64[ns]
 23  Start to End Date_Duration Months  11465 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(18), timedelta64[ns](1)
memory usage: 2.2+ MB

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,...,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months
0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,South America,...,01,04,Date_Complete,1970,01,04,1970-01-04,1970-01-04,0 days,0.000000
3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,...,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12,0 days,0.000000
4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,...,04,13,Date_Complete,1970,04,13,1970-04-13,1970-04-13,0 days,0.000000
6,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,...,10,23,Date_Complete,1970,10,23,1970-10-23,1970-10-23,0 days,0.000000
8,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,South America,...,07,21,Date_Complete,1970,07,21,1970-07-21,1970-07-21,0 days,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14638,NaN,13.0,2021-0270-YEM,Natural,Hydrological,Flood,Flash flood,NaN,Yemen,Western Asia,...,05,01,Date_Complete,2021,05,17,2021-05-01,2021-05-17,16 days,0.525678
14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,Flood,NaN,NaN,Yemen,Western Asia,...,07,16,Date_Complete,2021,08,07,2021-07-16,2021-08-07,22 days,0.722807
14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,Flood,NaN,NaN,South Africa,Southern Africa,...,02,01,Date_Complete,2021,02,15,2021-02-01,2021-02-15,14 days,0.459968
14641,NaN,131.0,2021-0599-COD,Natural,Biological,Epidemic,Viral disease,NaN,Congo (the Democratic Republic of the),Middle Africa,...,09,07,Date_Complete,2021,09,13,2021-09-07,2021-09-13,6 days,0.197129
14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,Flood,NaN,NaN,Serbia,Southern Europe,...,01,11,Date_Complete,2021,01,12,2021-01-11,2021-01-12,1 days,0.032855

In [ ]:
#Confirm VAR for location of OUTPUTs Folder created via next steps ... 
target_directory_outputs1 = dir_name + "\Outputs"
output1_file_name = "Complete_DataAnalysis_NaturalDisasters_1970-2021.csv"
output2_file_name = "Filtered_Clean_DataAnalysis_NaturalDisasters_1970-2021.csv"

print(target_directory_outputs1)

c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview\Outputs

In [ ]:
#Create files in Source Directory ... 

#CSV OUTPUT VAR below:
Complete_DataAnalysis_toCsv.to_csv(output1_file_name) #Export Complete_Analsis ... including Missing Date Data points to .csv for MongoDB upload.
Filtered_Complete_DataAnalysis_toCsv.to_csv(output2_file_name) #Export Filtered_Complete_Analsis ... without Missing Date Data points to .csv for MongoDB upload.

In [ ]:
#Move files to "Output" folder ... 

#via URL => https://stackoverflow.com/questions/7419665/python-move-and-overwrite-files-and-folders


#NOTE BELOW WORKS ... but it "moved them so quickly" .... it produced an error .... FUTURE FIX ....

#import shutil

#root_src_dir_file = dir_name + "\\" + output1_file_name  #NOTE ... replacing with ... own code below ... this may become redundant ... 
#root_dst_dir = target_directory_outputs1
#
#    BELOW WORKS BUT MOVES EVERYTHING ... in the root_src_dir .... need to modify it to just create the new output file ... and then move it to the Outputs DIR ... 
#
#for dir_name, dirs, files in os.walk(dir_name):
#    dst_dir = dir_name.replace(dir_name, root_dst_dir, 1)
#    if not os.path.exists(dst_dir):
#        os.makedirs(dst_dir)
#    for file_ in files:
#        src_file1 = os.path.join(dir_name, output1_file_name)
#        src_file2 = os.path.join(dir_name, output2_file_name)
#        dst_file1 = os.path.join(dst_dir, output1_file_name)
#        dst_file2 = os.path.join(dst_dir, output2_file_name)
#        if os.path.exists(dst_file1):
#            # in case of the src and dst are the same file
#            if os.path.samefile(src_file1, dst_file1):
#                continue
#            os.remove(dst_file1)
#        if os.path.exists(dst_file2):
#            # in case of the src and dst are the same file
#            if os.path.samefile(src_file2, dst_file2):
#                continue
#            os.remove(dst_file2)
#        shutil.move(src_file1, dst_dir)
#        shutil.move(src_file2, dst_dir)