In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import os
import csv

In [3]:
# Change directory to the directory of current python script. 
#via URL => https://stackoverflow.com/questions/1432924/python-change-the-scripts-working-directory-to-the-scripts-own-directory
#via URL => https://www.geeksforgeeks.org/python-os-path-abspath-method-with-example/

file_name = "Project3_NaturalDisasters.ipynb"
abs_path = os.path.abspath(file_name)        #(__file__)
print(abs_path)
dir_name = os.path.dirname(abs_path)
print(dir_name)
print("-----")
os.chdir(dir_name)

c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview\Project3_NaturalDisasters.ipynb
c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview
-----

In [4]:
#Confirm VAR for location of Resources Folder.
target_directory_file1 = "Resources/DISASTERS/"
source1_file_name = "1970-2021_DISASTERS.xlsx - emdat data.csv"

Pandas_read_file1 = target_directory_file1 + source1_file_name

In [11]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

#usecols_file1 = [] #Note1 => Will load all Cols to start ... good feature for future if we'd already know the data, etc.
#Approach via URL => https://www.datacamp.com/tutorial/pandas-read-csv
index_col_file1 = "Dis No"

natural_disasters_df = pd.read_csv(Pandas_read_file1) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
natural_disasters_df.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25000.0,15.001282,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,...,NaN,NaN,NaN,NaN,72475.0,15.001282,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,15.001282,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,3648000.0,NaN,NaN,86400.0,15.001282,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,110.0,NaN,NaN,NaN,15.001282,NaN,NaN,NaN,NaN

In [12]:
# Get a brief summary of the crowdfunding_info DataFrame.
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Dis No                           14644 non-null  object
 1   Year                             14644 non-null  int64
 2   Seq                              14644 non-null  int64
 3   Glide                            1581 non-null   object
 4   Disaster Group                   14644 non-null  object
 5   Disaster Subgroup                14644 non-null  object
 6   Disaster Type                    14644 non-null  object
 7   Disaster Subtype                 11897 non-null  object
 8   Disaster Subsubtype              1044 non-null   object
 9   Event Name                       3645 non-null   object
 10  Country                          14644 non-null  object
 11  ISO                              14644 non-null  object
 12  Region                           14644 non-null  object
 13  Continent                        14644 non-null  object
 14  Location                         13298 non-null  object
 15  Origin                           3780 non-null   object
 16  Associated Dis                   3232 non-null   object
 17  Associated Dis2                  698 non-null    object
 18  OFDA Response                    1450 non-null   object
 19  Appeal                           2440 non-null   object
 20  Declaration                      3127 non-null   object
 21  Aid Contribution                 677 non-null    float64
 22  Dis Mag Value                    4569 non-null   float64
 23  Dis Mag Scale                    13571 non-null  object
 24  Latitude                         2331 non-null   object
 25  Longitude                        2335 non-null   object
 26  Local Time                       765 non-null    object
 27  River Basin                      1285 non-null   object
 28  Start Year                       14644 non-null  int64
 29  Start Month                      14376 non-null  float64
 30  Start Day                        11577 non-null  float64
 31  End Year                         14644 non-null  int64
 32  End Month                        14095 non-null  float64
 33  End Day                          11650 non-null  float64
 34  Total Deaths                     10199 non-null  float64
 35  No Injured                       3651 non-null   float64
 36  No Affected                      8846 non-null   float64
 37  No Homeless                      2249 non-null   float64
 38  Total Affected                   11041 non-null  float64
 39  Reconstruction Costs ('000 US$)  31 non-null     float64
 40  Insured Damages ('000 US$)       1094 non-null   float64
 41  Total Damages ('000 US$)         4863 non-null   float64
 42  CPI                              14329 non-null  float64
 43  Adm Level                        7855 non-null   object
 44  Admin1 Code                      4581 non-null   object
 45  Admin2 Code                      3965 non-null   object
 46  Geo Locations                    7855 non-null   object
dtypes: float64(15), int64(4), object(28)
memory usage: 5.3+ MB

In [15]:
#Create an Analysis_DF via Pandas "select cols" approach.

List_of_Analysis1_Columns = [str("Total Damages ('000 US$)"),'Total Deaths','Dis No','Disaster Group', 'Disaster Subgroup','Disaster Type','Country', 'Region','Location','Continent']
     #Note single quotes issue with how Source_File named "Total Damages ('000 US$)".

Analysis_natural_disasters_df = natural_disasters_df[List_of_Analysis1_Columns] #,]
#Reminders via URL => https://www.golinuxcloud.com/pandas-select-columns-examples/ and https://www.datacamp.com/tutorial/python-select-columns

Analysis_natural_disasters_df.tail()

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Country,Region,Location,Continent
14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,Flood,Yemen,Western Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sanaâ€™a C...",Asia
14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,Flood,South Africa,Southern Africa,"Mpumalanga Province, Free State Province and t...",Africa
14641,NaN,131.0,2021-0599-COD,Natural,Biological,Epidemic,Congo (the Democratic Republic of the),Middle Africa,Tshopo province,Africa
14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,Flood,Serbia,Southern Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Europe
14643,NaN,7.0,2021-0481-SSD,Natural,Hydrological,Flood,South Sudan,Northern Africa,"Mayendit County (Unity); Ayod, Fangak Counties...",Africa

In [18]:
#Print Analysis_DF Data Types to Enable Analysis.

print(Analysis_natural_disasters_df.dtypes)
#via URL syntax note ... no "()" with dtypes ... => https://datatofish.com/data-type-pandas-dataframe/

Total Damages ('000 US$)    float64
Total Deaths                float64
Dis No                       object
Disaster Group               object
Disaster Subgroup            object
Disaster Type                object
Country                      object
Region                       object
Location                     object
Continent                    object
dtype: object

In [ ]:
#Convert Analysis_DF Data Types to Enable Analysis.

#N/A ... the Damages and Deaths actually read-in as float64.