In [168]:
# Import dependencies
import pandas as pd
import numpy as np
import os

In [169]:
# Change directory to the directory of current python script. 
#via URL => https://stackoverflow.com/questions/1432924/python-change-the-scripts-working-directory-to-the-scripts-own-directory
#via URL => https://www.geeksforgeeks.org/python-os-path-abspath-method-with-example/

file_name = "CountryFocused_DF_csv.ipynb"
abs_path = os.path.abspath(file_name)        #(__file__)
print(abs_path)
dir_name = os.path.dirname(abs_path)
print(dir_name)
print("-----")
os.chdir(dir_name)

C:\Users\MSI\OneDrive\Desktop\Project3_NaturalDisastersDataReview\CountryFocused_DF_csv.ipynb
C:\Users\MSI\OneDrive\Desktop\Project3_NaturalDisastersDataReview
-----

In [170]:
#Confirm VAR for location of Resources Folder.
target_directory_file1 = "Resources/Country_LatLong/"
source1_file_name = "world_country_and_usa_states_latitude_and_longitude_values.csv"

Pandas_read_file1 = target_directory_file1 + source1_file_name

In [171]:
#Confirm VAR for location of Resources Folder.
target_directory_file2 = "Outputs/"
source2_file_name = "Filtered_Clean_DataAnalysis_NaturalDisasters_1970-2021.csv"

Pandas_read_file2 = target_directory_file2 + source2_file_name

In [172]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Country_lat_long_df = pd.read_csv(Pandas_read_file1) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Country_lat_long_df.head()

  country_code   latitude  longitude         country
0           CZ  49.817492  15.472962  Czech Republic
1           DE  51.165691  10.451526         Germany
2           DJ  11.825138  42.590275        Djibouti
3           DK  56.263920   9.501785         Denmark
4           DM  15.414999 -61.370976        Dominica

In [173]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Filtered_Complete_DataAnalysis_df = pd.read_csv(Pandas_read_file2) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Filtered_Complete_DataAnalysis_df.head()

,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,Location,Continent,Start_Date_Complete_Y_N,Start Year,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months
0,0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,South America,Mendoza,Americas,Date_Complete,1970,1,4,Date_Complete,1970,1,4,1970-01-04,1970-01-04,0 days,0.0
1,3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,"Khulna, Chittagong",Asia,Date_Complete,1970,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12,0 days,0.0
2,4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,NaN,Asia,Date_Complete,1970,4,13,Date_Complete,1970,4,13,1970-04-13,1970-04-13,0 days,0.0
3,6,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,Bay of Bengal districts,Asia,Date_Complete,1970,10,23,Date_Complete,1970,10,23,1970-10-23,1970-10-23,0 days,0.0
4,8,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,South America,"Recife, South Pernambuco",Americas,Date_Complete,1970,7,21,Date_Complete,1970,7,21,1970-07-21,1970-07-21,0 days,0.0

In [174]:


Filtered_Complete_DataAnalysis_df = Filtered_Complete_DataAnalysis_df.drop(columns=['Index', 'End Year', 'End Month', 'End Day', 'Start Date', 'End Date', 'Start to End Date_Duration Days', 'Start to End Date_Duration Months', 'Start Month', 'Start Day', 'End_Date_Complete_Y_N', 'Start_Date_Complete_Y_N'])

Filtered_Complete_DataAnalysis_df

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,Location,Continent,Start Year
0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,South America,Mendoza,Americas,1970
1,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,"Khulna, Chittagong",Asia,1970
2,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,NaN,Asia,1970
3,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,Southern Asia,Bay of Bengal districts,Asia,1970
4,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,South America,"Recife, South Pernambuco",Americas,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11464,NaN,13.0,2021-0270-YEM,Natural,Hydrological,Flood,Flash flood,NaN,Yemen,Western Asia,"Sanaa, Ibb, Shabwa, Hodeida, Aden, Abyan, Al D...",Asia,2021
11465,NaN,11.0,2021-0449-YEM,Natural,Hydrological,Flood,NaN,NaN,Yemen,Western Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...",Asia,2021
11466,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,Flood,NaN,NaN,South Africa,Southern Africa,"Mpumalanga Province, Free State Province and t...",Africa,2021
11467,NaN,131.0,2021-0599-COD,Natural,Biological,Epidemic,Viral disease,NaN,Congo (the Democratic Republic of the),Middle Africa,Tshopo province,Africa,2021
11468,NaN,NaN,2021-0020-SRB,Natural,Hydrological,Flood,NaN,NaN,Serbia,Southern Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Europe,2021

In [175]:
column_move = Filtered_Complete_DataAnalysis_df.pop('Disaster Type')

Filtered_Complete_DataAnalysis_df.insert(12, 'Disaster Type', column_move)

Filtered_Complete_DataAnalysis_df

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Subtype,Disaster Subsubtype,Country,Region,Location,Continent,Start Year,Disaster Type
0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,NaN,NaN,Argentina,South America,Mendoza,Americas,1970,Flood
1,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Tropical cyclone,NaN,Bangladesh,Southern Asia,"Khulna, Chittagong",Asia,1970,Storm
2,NaN,17.0,1970-0026-BGD,Natural,Meteorological,NaN,NaN,Bangladesh,Southern Asia,NaN,Asia,1970,Storm
3,NaN,300.0,1970-0058-BGD,Natural,Meteorological,NaN,NaN,Bangladesh,Southern Asia,Bay of Bengal districts,Asia,1970,Storm
4,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,NaN,NaN,Brazil,South America,"Recife, South Pernambuco",Americas,1970,Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11464,NaN,13.0,2021-0270-YEM,Natural,Hydrological,Flash flood,NaN,Yemen,Western Asia,"Sanaa, Ibb, Shabwa, Hodeida, Aden, Abyan, Al D...",Asia,2021,Flood
11465,NaN,11.0,2021-0449-YEM,Natural,Hydrological,NaN,NaN,Yemen,Western Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...",Asia,2021,Flood
11466,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,NaN,NaN,South Africa,Southern Africa,"Mpumalanga Province, Free State Province and t...",Africa,2021,Flood
11467,NaN,131.0,2021-0599-COD,Natural,Biological,Viral disease,NaN,Congo (the Democratic Republic of the),Middle Africa,Tshopo province,Africa,2021,Epidemic
11468,NaN,NaN,2021-0020-SRB,Natural,Hydrological,NaN,NaN,Serbia,Southern Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Europe,2021,Flood

In [176]:
for rows in Filtered_Complete_DataAnalysis_df:
    print(rows)

Total Damages ('000 US$)
Total Deaths
Dis No
Disaster Group
Disaster Subgroup
Disaster Subtype
Disaster Subsubtype
Country
Region
Location
Continent
Start Year
Disaster Type

In [177]:


Filtered_Complete_DataAnalysis_df['disaster'] = 0

for rows in Filtered_Complete_DataAnalysis_df:
    if Filtered_Complete_DataAnalysis_df['Disaster Type'].any():
        Filtered_Complete_DataAnalysis_df['disaster'] = 1
        
Filtered_Complete_DataAnalysis_df

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Subtype,Disaster Subsubtype,Country,Region,Location,Continent,Start Year,Disaster Type,disaster
0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,NaN,NaN,Argentina,South America,Mendoza,Americas,1970,Flood,1
1,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Tropical cyclone,NaN,Bangladesh,Southern Asia,"Khulna, Chittagong",Asia,1970,Storm,1
2,NaN,17.0,1970-0026-BGD,Natural,Meteorological,NaN,NaN,Bangladesh,Southern Asia,NaN,Asia,1970,Storm,1
3,NaN,300.0,1970-0058-BGD,Natural,Meteorological,NaN,NaN,Bangladesh,Southern Asia,Bay of Bengal districts,Asia,1970,Storm,1
4,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,NaN,NaN,Brazil,South America,"Recife, South Pernambuco",Americas,1970,Flood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11464,NaN,13.0,2021-0270-YEM,Natural,Hydrological,Flash flood,NaN,Yemen,Western Asia,"Sanaa, Ibb, Shabwa, Hodeida, Aden, Abyan, Al D...",Asia,2021,Flood,1
11465,NaN,11.0,2021-0449-YEM,Natural,Hydrological,NaN,NaN,Yemen,Western Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...",Asia,2021,Flood,1
11466,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,NaN,NaN,South Africa,Southern Africa,"Mpumalanga Province, Free State Province and t...",Africa,2021,Flood,1
11467,NaN,131.0,2021-0599-COD,Natural,Biological,Viral disease,NaN,Congo (the Democratic Republic of the),Middle Africa,Tshopo province,Africa,2021,Epidemic,1
11468,NaN,NaN,2021-0020-SRB,Natural,Hydrological,NaN,NaN,Serbia,Southern Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Europe,2021,Flood,1

In [178]:
disaster_df = Filtered_Complete_DataAnalysis_df.pivot_table(values='disaster', 
                                            index = Filtered_Complete_DataAnalysis_df.index, columns = 'Disaster Type')

In [179]:
disaster_df.columns.tolist()

['Animal accident',
 'Drought',
 'Earthquake',
 'Epidemic',
 'Extreme temperature ',
 'Flood',
 'Glacial lake outburst',
 'Impact',
 'Insect infestation',
 'Landslide',
 'Mass movement (dry)',
 'Storm',
 'Volcanic activity',
 'Wildfire']

In [180]:
disaster_df

Disaster Type,Animal accident,Drought,Earthquake,Epidemic,Extreme temperature,Flood,Glacial lake outburst,Impact,Insect infestation,Landslide,Mass movement (dry),Storm,Volcanic activity,Wildfire
0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11464,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11465,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11466,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11467,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11468,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
labels = ['Dis_no', 'Country', 'Continent', 'Start_Year', 'Total_deaths', 'Total_Damages']


df = pd.DataFrame({labels[0]: Filtered_Complete_DataAnalysis_df['Dis No'],
                   labels[1]: Filtered_Complete_DataAnalysis_df['Country'],
                   labels[2]: Filtered_Complete_DataAnalysis_df['Continent'],
                   labels[3]: Filtered_Complete_DataAnalysis_df['Start Year'],
                   labels[4]: Filtered_Complete_DataAnalysis_df['Total Deaths'],
                   labels[5]: Filtered_Complete_DataAnalysis_df['Total Damages (\'000 US$)']
})



df

,Dis_no,Country,Continent,Start_Year,Total_deaths,Total_Damages
0,1970-0013-ARG,Argentina,Americas,1970,36.0,25000.0
1,1970-0063-BGD,Bangladesh,Asia,1970,300000.0,86400.0
2,1970-0026-BGD,Bangladesh,Asia,1970,17.0,NaN
3,1970-0058-BGD,Bangladesh,Asia,1970,300.0,NaN
4,1970-0037-BRA,Brazil,Americas,1970,172.0,46000.0
...,...,...,...,...,...,...
11464,2021-0270-YEM,Yemen,Asia,2021,13.0,NaN
11465,2021-0449-YEM,Yemen,Asia,2021,11.0,NaN
11466,2021-0075-ZAF,South Africa,Africa,2021,31.0,75000.0
11467,2021-0599-COD,Congo (the Democratic Republic of the),Africa,2021,131.0,NaN
11468,2021-0020-SRB,Serbia,Europe,2021,NaN,NaN

In [183]:
df2  = df.join(disaster_df)

In [184]:
df2

,Dis_no,Country,Continent,Start_Year,Total_deaths,Total_Damages,Animal accident,Drought,Earthquake,Epidemic,Extreme temperature,Flood,Glacial lake outburst,Impact,Insect infestation,Landslide,Mass movement (dry),Storm,Volcanic activity,Wildfire
0,1970-0013-ARG,Argentina,Americas,1970,36.0,25000.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-0063-BGD,Bangladesh,Asia,1970,300000.0,86400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,1970-0026-BGD,Bangladesh,Asia,1970,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,1970-0058-BGD,Bangladesh,Asia,1970,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,1970-0037-BRA,Brazil,Americas,1970,172.0,46000.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11464,2021-0270-YEM,Yemen,Asia,2021,13.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11465,2021-0449-YEM,Yemen,Asia,2021,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11466,2021-0075-ZAF,South Africa,Africa,2021,31.0,75000.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11467,2021-0599-COD,Congo (the Democratic Republic of the),Africa,2021,131.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11468,2021-0020-SRB,Serbia,Europe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:


countries = df2['Country'].unique()
countries

array(['Argentina', 'Bangladesh', 'Brazil', 'Barbados', 'Canada',
       'Switzerland', 'China', 'Côte d’Ivoire', 'Colombia', 'Costa Rica',
       'Cuba', 'Cyprus', 'Dominica', 'Ecuador', 'Ethiopia', 'France',
       'Guadeloupe', 'Hong Kong', 'Hungary', 'India', 'Chile',
       'Afghanistan', 'Australia', 'Belgium', 'Honduras', 'Botswana',
       'Germany Fed Rep', 'Fiji', 'Haiti', 'Central African Republic',
       'Spain', 'Belize', 'Czechoslovakia', 'Algeria', 'Egypt', 'Denmark',
       'Guatemala', 'Indonesia', 'Bulgaria',
       'Bolivia (Plurinational State of)', 'Comoros (the)', 'Ghana',
       'Greece', 'Benin', 'Peru', 'Papua New Guinea',
       'Iran (Islamic Republic of)', 'Israel', 'Italy',
       'Korea (the Republic of)', 'Morocco', 'Madagascar', 'Mexico',
       'Myanmar', 'Martinique', 'Malaysia', 'Niger (the)', 'Nepal',
       'Panama', 'Philippines (the)', 'Romania', 'Turkey',
       'United States of America (the)', 'Japan',
       "Lao People's Democratic Republic (the)", 'Mozambique',
       'Nicaragua', 'Kiribati', 'Mauritius', 'New Caledonia',
       'Netherlands (the)', 'Pakistan', 'Tuvalu', 'Iceland', 'Jamaica',
       'Portugal', 'Tonga', 'Tunisia', 'Soviet Union',
       'Trinidad and Tobago', 'Solomon Islands', 'Sierra Leone',
       'Thailand', 'New Zealand', 'Sweden', 'Sri Lanka', 'Oman', 'Poland',
       'Réunion', 'Somalia', 'Chad', 'Taiwan (Province of China)',
       'Tanzania, United Republic of', 'Nigeria', 'Viet Nam',
       'Saint Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'Vanuatu', 'Yugoslavia',
       'Yemen Arab Rep', 'South Africa', 'Zimbabwe',
       'Congo (the Democratic Republic of the)', 'Anguilla', 'Albania',
       'Dominican Republic (the)', 'Austria', 'Azores Islands', 'Grenada',
       'Burkina Faso', 'Cook Islands (the)', 'Djibouti',
       'United Kingdom of Great Britain and Northern Ireland (the)',
       'Cabo Verde', 'Guinea', 'Cameroon', 'Bermuda',
       'Micronesia (Federated States of)', 'Guinea-Bissau', 'Mali',
       'Liberia', 'Saint Lucia', 'Ireland', 'Luxembourg',
       'French Polynesia', 'Mauritania', 'Lesotho', 'Puerto Rico',
       'Saudi Arabia', 'Jordan', 'Lebanon', 'Maldives', 'Rwanda',
       'Sudan (the)', 'Zambia', 'El Salvador', 'Yemen P Dem Rep',
       'Senegal', 'Swaziland', 'Sao Tome and Principe',
       'Wallis and Futuna', 'Tokelau', 'Uganda', 'Netherlands Antilles',
       'American Samoa', 'Antigua and Barbuda', 'Burundi',
       'Bahamas (the)', 'Germany', 'Belarus', 'Saint Kitts and Nevis',
       'Montserrat', 'Malawi', 'Paraguay', 'Finland', 'Kenya', 'Mongolia',
       'Niue', 'Norway', 'Georgia', 'Iraq', 'Cambodia',
       'Marshall Islands (the)', 'Kyrgyzstan', 'Guam',
       'Russian Federation (the)', 'Eritrea', 'Kazakhstan', 'Lithuania',
       'Macao', "Korea (the Democratic People's Republic of)",
       'Virgin Island (U.S.)', 'Samoa', 'Turks and Caicos Islands (the)',
       'Tajikistan', 'Uruguay', 'Yemen', 'Uzbekistan',
       'Serbia Montenegro', 'Ukraine', 'Bhutan', 'Azerbaijan', 'Armenia',
       'Angola', 'Brunei Darussalam', 'Moldova (the Republic of)',
       'Czech Republic (the)', 'Gabon', 'Gambia (the)', 'Croatia',
       'Congo (the)', 'Kuwait', 'Togo', 'Virgin Island (British)',
       'Slovakia', 'Seychelles', 'Slovenia', 'Bosnia and Herzegovina',
       'Latvia', 'French Guiana', 'Canary Is', 'Turkmenistan',
       'Cayman Islands (the)',
       'Macedonia (the former Yugoslav Republic of)',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Syrian Arab Republic', 'Timor-Leste', 'Singapore',
       'Northern Mariana Islands (the)', 'Equatorial Guinea', 'Estonia',
       'Guyana', 'Namibia', 'Suriname', 'Palestine, State of',
       'Montenegro', 'Serbia', 'South Sudan', 'Palau', 'Libya',
       'United Arab Emirates (the)', 'Qatar', 'Saint Barthélemy',
       'Saint Martin (French Part)', 'Sint Maarten (Dutch part)',
       'Isle of Man'], dtype=object)

In [186]:
df2.loc[df2['Country'] == 'Bolivia (Plurinational State of)', 'Country'] = 'Bolivia'

countries = df2['Country'].unique()
countries

array(['Argentina', 'Bangladesh', 'Brazil', 'Barbados', 'Canada',
       'Switzerland', 'China', 'Côte d’Ivoire', 'Colombia', 'Costa Rica',
       'Cuba', 'Cyprus', 'Dominica', 'Ecuador', 'Ethiopia', 'France',
       'Guadeloupe', 'Hong Kong', 'Hungary', 'India', 'Chile',
       'Afghanistan', 'Australia', 'Belgium', 'Honduras', 'Botswana',
       'Germany Fed Rep', 'Fiji', 'Haiti', 'Central African Republic',
       'Spain', 'Belize', 'Czechoslovakia', 'Algeria', 'Egypt', 'Denmark',
       'Guatemala', 'Indonesia', 'Bulgaria', 'Bolivia', 'Comoros (the)',
       'Ghana', 'Greece', 'Benin', 'Peru', 'Papua New Guinea',
       'Iran (Islamic Republic of)', 'Israel', 'Italy',
       'Korea (the Republic of)', 'Morocco', 'Madagascar', 'Mexico',
       'Myanmar', 'Martinique', 'Malaysia', 'Niger (the)', 'Nepal',
       'Panama', 'Philippines (the)', 'Romania', 'Turkey',
       'United States of America (the)', 'Japan',
       "Lao People's Democratic Republic (the)", 'Mozambique',
       'Nicaragua', 'Kiribati', 'Mauritius', 'New Caledonia',
       'Netherlands (the)', 'Pakistan', 'Tuvalu', 'Iceland', 'Jamaica',
       'Portugal', 'Tonga', 'Tunisia', 'Soviet Union',
       'Trinidad and Tobago', 'Solomon Islands', 'Sierra Leone',
       'Thailand', 'New Zealand', 'Sweden', 'Sri Lanka', 'Oman', 'Poland',
       'Réunion', 'Somalia', 'Chad', 'Taiwan (Province of China)',
       'Tanzania, United Republic of', 'Nigeria', 'Viet Nam',
       'Saint Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'Vanuatu', 'Yugoslavia',
       'Yemen Arab Rep', 'South Africa', 'Zimbabwe',
       'Congo (the Democratic Republic of the)', 'Anguilla', 'Albania',
       'Dominican Republic (the)', 'Austria', 'Azores Islands', 'Grenada',
       'Burkina Faso', 'Cook Islands (the)', 'Djibouti',
       'United Kingdom of Great Britain and Northern Ireland (the)',
       'Cabo Verde', 'Guinea', 'Cameroon', 'Bermuda',
       'Micronesia (Federated States of)', 'Guinea-Bissau', 'Mali',
       'Liberia', 'Saint Lucia', 'Ireland', 'Luxembourg',
       'French Polynesia', 'Mauritania', 'Lesotho', 'Puerto Rico',
       'Saudi Arabia', 'Jordan', 'Lebanon', 'Maldives', 'Rwanda',
       'Sudan (the)', 'Zambia', 'El Salvador', 'Yemen P Dem Rep',
       'Senegal', 'Swaziland', 'Sao Tome and Principe',
       'Wallis and Futuna', 'Tokelau', 'Uganda', 'Netherlands Antilles',
       'American Samoa', 'Antigua and Barbuda', 'Burundi',
       'Bahamas (the)', 'Germany', 'Belarus', 'Saint Kitts and Nevis',
       'Montserrat', 'Malawi', 'Paraguay', 'Finland', 'Kenya', 'Mongolia',
       'Niue', 'Norway', 'Georgia', 'Iraq', 'Cambodia',
       'Marshall Islands (the)', 'Kyrgyzstan', 'Guam',
       'Russian Federation (the)', 'Eritrea', 'Kazakhstan', 'Lithuania',
       'Macao', "Korea (the Democratic People's Republic of)",
       'Virgin Island (U.S.)', 'Samoa', 'Turks and Caicos Islands (the)',
       'Tajikistan', 'Uruguay', 'Yemen', 'Uzbekistan',
       'Serbia Montenegro', 'Ukraine', 'Bhutan', 'Azerbaijan', 'Armenia',
       'Angola', 'Brunei Darussalam', 'Moldova (the Republic of)',
       'Czech Republic (the)', 'Gabon', 'Gambia (the)', 'Croatia',
       'Congo (the)', 'Kuwait', 'Togo', 'Virgin Island (British)',
       'Slovakia', 'Seychelles', 'Slovenia', 'Bosnia and Herzegovina',
       'Latvia', 'French Guiana', 'Canary Is', 'Turkmenistan',
       'Cayman Islands (the)',
       'Macedonia (the former Yugoslav Republic of)',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Syrian Arab Republic', 'Timor-Leste', 'Singapore',
       'Northern Mariana Islands (the)', 'Equatorial Guinea', 'Estonia',
       'Guyana', 'Namibia', 'Suriname', 'Palestine, State of',
       'Montenegro', 'Serbia', 'South Sudan', 'Palau', 'Libya',
       'United Arab Emirates (the)', 'Qatar', 'Saint Barthélemy',
       'Saint Martin (French Part)', 'Sint Maarten (Dutch part)',
       'Isle of Man'], dtype=object)

In [ ]:
final_df = {}
for conutry in countries:
    interim_df = {}
    for rows in df2.interrows():

In [ ]:
# df['Animal accident#